from fabric.api import env

env.hosts            = ['obshtestvo@obshtestvo.bg']
env.project_root     = '/path/to/deployment/obshtestvo.bg'
env.repository_url   = 'https://github.com/obshtestvo/obshtestvo.bg.git'
env.virtual_env_name = 'obshtestvobg' # leave blank if you don't use virtualenvwrapper
