<section id="concept" class="main">
    <div class="bg-reset">
        {{ description|safe }}
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/bozhidar.bozhanov/picture?width=35&amp;height=35"
                                      title="Божидар Божанов">
                <strong class="name">Божидар Божанов</strong>
                <strong class="position">Цялостно ръководство и разработка,
                    всичко</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта са запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">

            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Позволява лесен достъп до иначе разнороден формат
                    от държавни документи</p>
            </li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Демонстрира новаторски подход за по-открито управление</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action"
           href="{% url 'support' %}?project={{ project.slug }}#sponsorship"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">

            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Петър влиза в alerts.obshtestvo.bg</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Търси "бюджет"</p></li>
            <li><i class="fi flaticon-mouse3 bullet"></i>

                <p>Вижда резултатите сред редица държавни документи</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Абонира се да получава нови документи съвпадащи с търсенето му</p></li>
        </ul>
    </div>
</section>