<section id="concept" class="main">
    <div class="bg-reset">
        {{ description|safe }}
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li><img width="35px"
                     src="http://graph.facebook.com/nikolai.aleksandrenko/picture?width=35&amp;height=35"
                     title="Николай Александренко"><strong class="name">Николай
                Александренко</strong>
                <strong class="position">Дизайн, мобилно приложение, copywrite,
                    идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/grgkostadinov/picture?width=35&amp;height=35"
                     title="Георги Костадинов"><strong class="name">Георги
                Костадинов</strong>
                <strong class="position">Mобилно приложение</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/ivanvpenchev/picture?width=35&amp;height=35"
                     title="Иван Пенчев"><strong class="name">Иван Пенчев</strong>
                <strong class="position">Софтуерна разработка</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/achebg/picture?width=35&amp;height=35"
                     title="Ангел Георгиев"><strong class="name">Ангел Георгиев</strong>
                <strong class="position">Маркетинг, PR, идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/dimitar.danailov/picture?width=35&amp;height=35"
                     title="Димитър Данаилов"><strong class="name">Димитър
                Данаилов</strong>
                <strong class="position">Mобилно приложение</strong></li>
            <li class="break"><img width="35px"
                                   src="http://graph.facebook.com/alex.milanov/picture?width=35&amp;height=35"
                                   title="Александър Миланов"><strong class="name">Александър
                Миланов</strong>
                <strong class="position">Софтуерна разработка, идеи</strong></li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Софт. разработка, дизайн, идеи, copywrite,
                    координация</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info partners">
            <h3 class="heading">Съдействат ни:</h3>
            <ul class="partners stripped">
                <li class="clearfix">
                    <a href="http://aktiven.bg/">
                        <img src="/upload/aktivenbg.png"
                             alt="Aktiven.bg лого"
                             class="basic-transition"/>
                        <h4>Aktiven.bg (ESRI Bulgaria)</h4>

                        <p class="subtitle">
                            GIS напътствия, идеи, и комуникация с общини
                        </p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="http://www.bluelink.net/">
                        <img src="http://www.bluelink.net/sites/all/themes/bluelink/images/logo-bluelink.png"
                             alt="BlueLink лого"
                             class="basic-transition"/>
                        <h4>Sofia urbanotopia (BlueLink)</h4>

                        <p class="subtitle">
                            Напътствия, идеи, и комуникация с общини
                        </p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="Timeheroes">
                        <img src="http://graph.facebook.com/TimeHeroes/picture?width=100&height=100"
                             alt="ПДИ лого"
                             class="basic-transition"/>
                        <h4>Timeheroes</h4>

                        <p class="subtitle">
                            Бъдеща интеграция на каузи от Timeheroes с проблеми от
                            Grada.me
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Мотивира и улеснява участието на гражданите в благоустройството на
                    града им и им дава глас </p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Спомага за съществуването на един по-изправен град</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Дава възможност на хората с увреждания по-безпрепятствено да
                    сигнализират
                    за проблеми </p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Прави процеса по изпълнение на сигналите по-отктрит</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Насърчава взаимопомощ, разрешение на проблемите не само от общината</p>
            </li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Планира да засили малкия бизнес чрез мини-конкурси, организирани
                    от самите податели на сигнала</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action"
           href="{% url 'support' %}?project={{ project.slug }}#sponsorship"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-eye50  bullet"></i>

                <p>Петър се прибира след работа и забелязва опасна сграда</p></li>
            <li><i class="fi flaticon-start1 bullet"></i>

                <p>Пуска приложението Grada.me през телефона си</p></li>
            <li><i class="fi flaticon-small35 bullet"></i>

                <p>Прави снимка на сградата</p></li>
            <li><i class="fi flaticon-map25 bullet"></i>

                <p>Потвърждава засечения адрес или го коригира</p></li>
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Изпраща сигнала</p></li>
        </ul>
        <p>Друг пример е:</p>

        <ul class="stripped steps">
            <li><i class="fi flaticon-start1 bullet"></i>

                <p>Петър пуска приложението Grada.me през телефона си</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Преглежда сигнали в близост до него</p></li>
            <li><i class="fi flaticon-warning18 bullet"></i>

                <p>Вижда несъществуващ сигнал и го маркира като невалиден</p></li>
        </ul>
        <p>И трети:</p>

        <ul class="stripped steps">
            <li><i class="fi flaticon-start1 bullet"></i>

                <p>Петър вече има подаден сигнал</p></li>

            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Натиска "Искам да го разреша аз", което създава кауза за доброволци и
                    свързва проблема с други заинтересовани от разрешаването му</p></li>
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Събралите се доброволци се организират и сами разрешават проблема</p>
            </li>
        </ul>
    </div>
</section>