<section id="concept" class="main">
    <div class="bg-reset">
        <p>Вярваме, че много хора не са щастливи, в условията които живеят - разбити
            улици, липсващо или неработещо осветление, занемарени зелени площи,
            нерегламентирани сметища.</p>

        <p>Те се чувстват безсилни да разрешат проблемите сами. Всеки е зает с ежедневието
            си и няма сили и време, което да отделя за общината, да търси информация към
            кого да се обърне, как и какви формуляри да попълни и къде да ги подаде.
            Съществува вариантът, в който хората се самоорганизират по местоживеене, но на
            практика виждаме че това се случва рядко.</p>

        <p>За да се реши този проблем и за да могат хората да вземат инициативата в свои
            ръце, те имат нужда от подходящите инструменти. Искаме да помогнем чрез
            <strong>Grada.me</strong>.</p>

        <h2>Есенция</h2>

        <p><strong>Grada.me</strong> ще бъде платформа за разрешаването на проблемите от
            градската среда. </p>

        <p>Платформата ще разчита на мобилно приложение и уеб-сайт, с чиято помощ може на
            място или от вкъщи да се снимат и подават различен тип сигнали: неработещо
            осветление, дупки, опасни сгради и други. </p>

        <p>Сигналите ще могат:</p>

        <ul>
            <li>да достигнат отговорните държавни органи</li>
            <li>да свързват директно заинтересованите, от решение на проблема, граждани -
                тези споделящи блок, квартал, град или маршрут
            </li>
            <li>да достигат медиите</li>
            <li>да достигат хора с желание да помогнат, чрез платформи за доброволчество
                като <a href="https://timeheroes.org/">Timeheroes</a>.
            </li>
        </ul>
        <p>Ще присъстват социални елементи, които ще позволят на всеки:</p>

        <ul>
            <li>да види проблемите на неговата улица, квартал</li>
            <li>да намери, съседи, които също искат да оправят тези проблеми</li>
            <li>да организира ремонт за отстраняването на пробема</li>
            <li>да организира събирането на пари и наемането на изпълнител за поправката,
                чрез организирането на мини-конкурси от които да се избере оферта
            </li>
        </ul>
        <p><strong>Grada.me</strong> ще дава пълна отчетност и следене на проблемите:</p>

        <ul>
            <li>кога и от кого е подаден сигнал за проблем</li>
            <li>кога е изпратен сигнал до властите</li>
            <li>кога и какъв е бил отговора на властите</li>
            <li>кой е отстранил проблема</li>
            <li>колко е струвало отстраняването на проблема (ако е нает изпълнител)</li>
            <li>крайно състояние след ремонта със снимка и описание</li>
        </ul>
        <h2>Открито изпълнение</h2>

        <p><strong>Grada.me</strong> е <strong>проект с отворен код и дизайн</strong> <em>(Open
            Source)</em>, което ще рече че е отворен за доработка, и че предлага
            техническото си изпълнение по прозрачен начин, позволяващ на всеки
            заинтересован да разбере как работи. Включва подробни технически инструкции
            как може да се подкара от трети лица.</p>
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li><img width="35px"
                     src="http://graph.facebook.com/nikolai.aleksandrenko/picture?width=35&amp;height=35"
                     title="Николай Александренко"><strong class="name">Николай
                Александренко</strong>
                <strong class="position">Дизайн, мобилно приложение, copywrite,
                    идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/grgkostadinov/picture?width=35&amp;height=35"
                     title="Георги Костадинов"><strong class="name">Георги
                Костадинов</strong>
                <strong class="position">Mобилно приложение</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/ivanvpenchev/picture?width=35&amp;height=35"
                     title="Иван Пенчев"><strong class="name">Иван Пенчев</strong>
                <strong class="position">Софтуерна разработка</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/achebg/picture?width=35&amp;height=35"
                     title="Ангел Георгиев"><strong class="name">Ангел Георгиев</strong>
                <strong class="position">Маркетинг, PR, идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/dimitar.danailov/picture?width=35&amp;height=35"
                     title="Димитър Данаилов"><strong class="name">Димитър
                Данаилов</strong>
                <strong class="position">Mобилно приложение</strong></li>
            <li class="break"><img width="35px"
                                   src="http://graph.facebook.com/alex.milanov/picture?width=35&amp;height=35"
                                   title="Александър Миланов"><strong class="name">Александър
                Миланов</strong>
                <strong class="position">Софтуерна разработка, идеи</strong></li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Софт. разработка, дизайн, идеи, copywrite,
                    координация</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info partners">
            <h3 class="heading">Съдействат ни:</h3>
            <ul class="partners stripped">
                <li class="clearfix">
                    <a href="http://aktiven.bg/">
                        <img src="/upload/aktivenbg.png"
                             alt="Aktiven.bg лого"
                             class="basic-transition"/>
                        <h4>Aktiven.bg (ESRI Bulgaria)</h4>

                        <p class="subtitle">
                            GIS напътствия, идеи, и комуникация с общини
                        </p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="http://www.bluelink.net/">
                        <img src="http://www.bluelink.net/sites/all/themes/bluelink/images/logo-bluelink.png"
                             alt="BlueLink лого"
                             class="basic-transition"/>
                        <h4>Sofia urbanotopia (BlueLink)</h4>

                        <p class="subtitle">
                            Напътствия, идеи, и комуникация с общини
                        </p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="Timeheroes">
                        <img src="http://graph.facebook.com/TimeHeroes/picture?width=100&height=100"
                             alt="ПДИ лого"
                             class="basic-transition"/>
                        <h4>Timeheroes</h4>

                        <p class="subtitle">
                            Бъдеща интеграция на каузи от Timeheroes с проблеми от
                            Grada.me
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Мотивира и улеснява участието на гражданите в благоустройството на
                    града им и им дава глас </p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Спомага за съществуването на един по-изправен град</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Дава възможност на хората с увреждания по-безпрепятствено да
                    сигнализират
                    за проблеми </p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Прави процеса по изпълнение на сигналите по-отктрит</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Насърчава взаимопомощ, разрешение на проблемите не само от общината</p>
            </li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Планира да засили малкия бизнес чрез мини-конкурси, организирани
                    от самите податели на сигнала</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action" href="wip.html"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-eye50  bullet"></i>

                <p>Петър се прибира след работа и забелязва опасна сграда</p></li>
            <li><i class="fi flaticon-start1 bullet"></i>

                <p>Пуска приложението Grada.me през телефона си</p></li>
            <li><i class="fi flaticon-small35 bullet"></i>

                <p>Прави снимка на сградата</p></li>
            <li><i class="fi flaticon-map25 bullet"></i>

                <p>Потвърждава засечения адрес или го коригира</p></li>
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Изпраща сигнала</p></li>
        </ul>
        <p>Друг пример е:</p>

        <ul class="stripped steps">
            <li><i class="fi flaticon-start1 bullet"></i>

                <p>Петър пуска приложението Grada.me през телефона си</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Преглежда сигнали в близост до него</p></li>
            <li><i class="fi flaticon-warning18 bullet"></i>

                <p>Вижда несъществуващ сигнал и го маркира като невалиден</p></li>
        </ul>
        <p>И трети:</p>

        <ul class="stripped steps">
            <li><i class="fi flaticon-start1 bullet"></i>

                <p>Петър вече има подаден сигнал</p></li>

            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Натиска "Искам да го разреша аз", което създава кауза за доброволци и
                    свързва проблема с други заинтересовани от разрешаването му</p></li>
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Събралите се доброволци се организират и сами разрешават проблема</p>
            </li>
        </ul>
    </div>
</section>