<section id="concept" class="main">
    <div class="bg-reset">
        {{ description|safe }}
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">

            <li><img width="35px"
                     src="http://graph.facebook.com/nikolai.aleksandrenko/picture?width=35&amp;height=35"
                     title="Николай Александренко">
                <strong class="name">Николай Александренко</strong>
                <strong class="position">Софт. разработка, идеи, дизайн,
                    координация</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/snedkov/picture?width=35&amp;height=35"
                     title="Станислав Недков">
                <strong class="name">Станислав Недков</strong>
                <strong class="position">Copywrite</strong></li>

            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Софт. разработка, идеи, координация</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Дава възможността за централно "информационно бюро" с оценка над
                    предлаганата информация</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Улеснява ежедневието на българските жители</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action" href="wip.html"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Петър влиза в howto.bg</p></li>
            <li><i class="fi flaticon-search4 bullet"></i>

                <p>Търси информация по тема, която го интересува</p></li>
            <li><i class="fi flaticon-thumbs26 bullet"></i>

                <p>Избира въпрос от резултатите и гласува за един от отговорите</p>
            </li>
        </ul>
    </div>
</section>