<section id="concept" class="main">
    <div class="bg-reset">
        <p>Уеб сайт подобен на познатите интернет форуми, но с разликата че се фокусира
            върху задаването на въпроси и намиране на техните отговори. </p>

        <p>Във форумите се получава дискусия, в която хората свободно изразяват лично
            мнение, често субективно и отговорите са трудно откриваеми.
            <strong>HowTo.bg</strong> се фокусира върху намирането на по-добрите и
            правилни отговори, като намалява до минимум разсейващото съдържание. </p>

        <p>Въпросите са свързани с нашето гражданско общество и българския бит. Един вид
            интерактивно информационно бюро. Примерни въпроси:</p>

        <ul>
            <li>Как да си назнача личен лекар?</li>
            <li>Как е най-евтино да пътувам с метрото?</li>
            <li>Защо кучето ми трябва да има чип?</li>
        </ul>
        <p>Когато се гласува за някой въпрос, потребителят който го е задал получава
            точки. Тези точки служат за груба оценка на това до колко общността има
            доверие в дадения потребител. </p>

        <p>Например, ако вие зададете интересен въпрос или дадете добър отговор, за тях ще
            бъде гласувано доверие. Ако от друга страна са подвеждащи или не са от
            значение, те ще бъдат оценени негативно. Положителните гласове носят повече
            точки от отрицателните, с целт това да поведе духа към взаимопомощ, а не
            спорове. </p>

        <p>Сайтът ще бъде и само-администриращ се от потребители имащи определен брой
            точки. В същото време ще има и верифицирани потребители от рода на общини и
            експертни организации, които да бъдат лесно разпознаваеми и полезни в
            определени сфери.</p>

        <h2>Открито изпълнение</h2>

        <p><strong>HowTo.bg</strong> е проект с <strong>отворен код и дизайн</strong> <em>(Open
            Source)</em>, което ще рече, че е отворен за доработка, и че предлага
            техническото си изпълнение по прозрачен начин, позволяващ на всеки
            заинтересован да разбере как работи. Включва и подробни технически инструкции,
            за това как може да се подкара от трети лица.</p>

        <p>Подобни успещни сайтове, като най-популярният такъв е <a
                href="http://stackoverflow.com/">StackOverflow</a>, който е свързан с
            технически въпроси.</p>
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">

            <li><img width="35px"
                     src="http://graph.facebook.com/nikolai.aleksandrenko/picture?width=35&amp;height=35"
                     title="Николай Александренко">
                <strong class="name">Николай Александренко</strong>
                <strong class="position">Софт. разработка, идеи, дизайн,
                    координация</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/snedkov/picture?width=35&amp;height=35"
                     title="Станислав Недков">
                <strong class="name">Станислав Недков</strong>
                <strong class="position">Copywrite</strong></li>

            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Софт. разработка, идеи, координация</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Дава възможността за централно "информационно бюро" с оценка над
                    предлаганата информация</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Улеснява ежедневието на българските жители</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action" href="wip.html"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Петър влиза в howto.bg</p></li>
            <li><i class="fi flaticon-search4 bullet"></i>

                <p>Търси информация по тема, която го интересува</p></li>
            <li><i class="fi flaticon-thumbs26 bullet"></i>

                <p>Избира въпрос от резултатите и гласува за един от отговорите</p>
            </li>
        </ul>
    </div>
</section>