<section id="concept" class="main">
    <div class="bg-reset">
        {{ description|safe }}
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li><img width="35px"
                     src="http://graph.facebook.com/mitio/picture?width=35&amp;height=35"
                     title="Димитър Димитров">
                <strong class="name">Димитър Димитров</strong>
                <strong class="position">Софт. разработка, идеи, координация</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/hambai/picture?width=35&amp;height=35"
                     title="Камен Станев">
                <strong class="name">Камен Станев</strong>
                <strong class="position">Софт. разработка, идеи, координация</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/petyaraykovska/picture?width=35&amp;height=35"
                     title="Петя Райковска">
                <strong class="name">Петя Райковска</strong>
                <strong class="position">Софт. разработка, идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/angel.velikov.370/picture?width=35&amp;height=35"
                     title="Ангел Великов">
                <strong class="name">Ангел Великов</strong>
                <strong class="position">Дизайн</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">

            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Замисля гражданите за своите познания над важни теми</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Повишава информираността за народните представители</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action" href="wip.html"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Петър влиза в сайта и започва нова игра</p></li>
            <li><i class="fi flaticon-bust bullet"></i>

                <p>Показва му се снимка и име на народен представител</p></li>
            <li><i class="fi flaticon-browser18fi flaticon-target6 bullet"></i>

                <p>Петър избира партия за показания депутат</p></li>
        </ul>
    </div>
</section>