<section id="concept" class="main">
    <div class="bg-reset">
        {{ description|safe }}
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/vbachev/picture?width=35&amp;height=35"
                                      title="Васил Бачев">
                <strong class="name">Васил Бачев</strong>
                <strong class="position">Софтуерна разработка, идеи</strong></li>
            <li class="clearfix">
                <img width="35px"
                     src="http://graph.facebook.com/kattodeva/picture?width=35&amp;height=35"
                     title="Екатерина Тодева">
                <strong class="name">Екатерина Тодева</strong>
                <strong class="position">Дизайн, идеи</strong>
            </li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/stanshaochow/picture?width=35&amp;height=35"
                                      title="Станимир Савов">
                <strong class="name">Станимир Савов</strong>
                <strong class="position">Софтуерна разработка, идеи</strong></li>
            <li class="clearfix">
                <img width="35px"
                     src="https://plus.google.com/s2/photos/profile/100157245271348669141?sz=35"
                     title="Стефан Кръстев">
                <strong class="name">Стефан Кръстев</strong>
                <strong class="position">Техническа консултация, идеи</strong>
            </li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Софт. разработка, идеи, координация</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта са запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info partners">
            <h3 class="heading">Съдействат ни:</h3>
            <ul class="partners stripped">
                <li class="clearfix">
                    <a href="http://iped.bg/">
                        <img src="/upload/iped.png"
                             alt="mySociety лого"
                             class="basic-transition"/>
                        <h4>Институт за развитие на публичната среда</h4>

                        <p class="subtitle">
                            Консултация при събиране на данните, обработка на данните
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">

            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Повишава информираността за хората и действията в парламента</p>
            </li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Улеснява достъпа и анализата на обществена информация за
                    парламента</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Не просто се показва информация, а тя бива показвана разбираемо и
                    увлекателно</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Пояснява гласуването по промени в законодателството</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action"
           href="{% url 'support' %}?project={{ project.slug }}#sponsorship"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">

            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Петър влиза в openparliament.bg</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Разглежда статистики и анализа на активността в парламента</p></li>
            <li><i class="fi flaticon-mouse3 bullet"></i>

                <p>Клика на "Къде е властта"</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Петър вижда партиите, членовете им и министри издигнати от всяка
                    партия.
                    Допълнително се виждат регионалните управители издигнати от парията
                    + Отделна секция за независимите депутати.</p></li>
        </ul>
        <p>Друг пример е:</p>

        <ul class="stripped steps">

            <i class="fi flaticon-browser18 bullet"></i>

            <p>Петър влиза в openparliament.bg</p></li>
            <li><i class="fi flaticon-target6 bullet"></i>

                <p>Избира депутат от класацията "Топ 10"</p></li>
            <li><i class="fi flaticon-eye50 bullet"></i>

                <p>Вижда профил на депутата и статистика за активността му в парламента.
                    Вижда неговите бизнеси и спечелените от тези бизнеси обществени и
                    европейски
                    поръчки.</p></li>
        </ul>
    </div>
</section>