<section id="concept" class="main">
    <div class="bg-reset">
        <p>Проектът оползотворява възможностите, дадени от правото за достъп до обществена
            информация и предлага уеб сайт, през който хората могат лесно да поискат
            информация.</p>

        <p>Специалното на този вид искане е, че се зачита като официално заявление по
            Закона за достъп до обществена информация (ЗДОИ), което носи бонусите:</p>

        <ol>
            <li>На всяко валидно запитване през сайта, по закон, трябва да се отговори до
                2 седмици.
            </li>
            <li>Получената информация, в резултат на такова запитване, не се пречупва през
                субективността на медиите, понеже тя идва директно от първоизточника.
            </li>
        </ol>
        <p>Така нареченото заявление е в свободен текст, но има ограничения до типа
            информация, която може да се поиска. <a
                    href="http://www.aip-bg.org/howto/%D0%9D%D0%B0%D1%80%D1%8A%D1%87%D0%BD%D0%B8%D0%BA/">Сайтът
                на ПДИ</a> предлага още детайли по темата под разбираем начин.</p>

        <p>Достъпът до такава информация е ваше право. Право, което може да практикувате и
            без сайта Pitaigi.bg. Можете да търсите и намерите начин за връзка с органа,
            лицето или организацията, от която желаете да получите информация, и да
            изпратите email или писмо. Можете дори устно да направите своето
            заявление, след като успеете да се свържете с тях.</p>

        <h2>Ето нещо ново</h2>

        <p><strong>Pitaigi.bg</strong> позволява всичко, което е нужно, за да подадете
            заявление, да съществува на едно място, поднесено наред със спомагателна
            информация показана там, където ще Ви потрябва. Сайтът скъсява дистанцията и
            Ви упътва в процеса. Когато сте заинтересован от нещо засягащо българското
            общество, <strong>всичко което е нужно да направите</strong> е:</p>

        <p>От списък на сайта избирате към кого да се обърнете и на следващата стъпка
            пишете своето запитване. Това е.</p>

        <p>Трябва да получите отговор не по-късно от 2 седмици и го получавате на същото
            място в сайта, под познатия формат на интернет дискусия. Ако имате проблем и
            не са склонни да Ви предоставят информацията, то другите участници в <strong>Pitaigi.bg</strong>
            могат да видят това и да коментират по започналата вече комуникация, като Ви
            предложат препоръки и редакции. </p>

        <p>Освен участниците на <strong>Pitaigi.bg</strong>, може да се обърнете и към
            екипа, модериращ сайта, който се състои от <a
                    href="http://www.aip-bg.org/contacts/">експертите на ПДИ</a>. Те ще Ви
            окажат съдействие при нарушаване на правата ви по ЗДОИ и ще Ви насочат към
            следващите стъпки.</p>

        <p>Още преди да направите своето заявление, можете да преглеждате или да търсите
            из съществуващите запитванията. Те служат и като пример над това какъв вид
            заявления се подават, на кои се отговаря, по какъв начин са написани - примери
            които се превръщат в полезна статистика.</p>

        <h2>Открито изпълнение</h2>

        <p><strong>Pitaigi.bg</strong> е <strong>проект с отворен код и дизайн</strong>
            <em>(Open Source)</em>, което ще рече, че е отворен за доработка, и че
            предлага
            техническото си изпълнение по прозрачен начин, позволяващ на всеки
            заинтересован да разбере как работи. Включва подробни технически инструкции
            как може да се подкара от трети лица.</p>

        <p>Както и <strong>Pitaigi.bg</strong> така и платформата <a
                href="http://www.alaveteli.org/">Alaveteli</a>, върху която проекта е
            базиран и надграден, е Open Source.</p>
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li><img width="35px"
                     src="http://graph.facebook.com/elitsa.mateva/picture?width=35&amp;height=35"
                     title="Елица Матева">
                <strong class="name">Елица Матева</strong>
                <strong class="position">Идеи, PR, visual, координация</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/100006137442736/picture?width=35&amp;height=35"
                     title="Валентин Ласков">
                <strong class="name">Валентин Ласков</strong>
                <strong class="position">Превод, идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/s2gatev/picture?width=35&amp;height=35"
                     title="Станислав Гатев">
                <strong class="name">Станислав Гатев</strong>
                <strong class="position">Софтуерна разработка, идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/mitio/picture?width=35&amp;height=35"
                     title="Димитър Димитров">
                <strong class="name">Димитър Димитров</strong>
                <strong class="position">Софтуерна разработка, идеи, координация</strong>
            </li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Превод, идеи, координация</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта са запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info partners">
            <h3 class="heading">Съдействат ни:</h3>
            <ul class="partners stripped">
                <li class="clearfix">
                    <a href="http://www.aip-bg.org/">
                        <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash3/s100x100/558155_381788785185702_1153580211_s.jpg"
                             alt="ПДИ лого"
                             class="basic-transition"/>
                        <h4>Програма достъп до информация</h4>

                        <p class="subtitle">
                            Модерация на заявленията и списък с органи
                        </p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <img src="http://profiasd.jpg"
                             alt="Aktivacija лого"
                             class="basic-transition"/>
                        <h4>Aktivacija</h4>

                        <p class="subtitle">
                            Лого, дизайн и web UI
                        </p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="http://www.mysociety.org/">
                        <img src="/upload/mysociety.png"
                             alt="mySociety лого"
                             class="basic-transition"/>
                        <h4>MySociety</h4>

                        <p class="subtitle">
                            Създатели на базовата платформа Alaveteli, напътствия
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">


            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Повишава информираността за Правото на достъп до информация</p>
            </li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Улеснява гражданина, като предлага целия процес под формата на уеб
                    приложение</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action"
           href="{% url 'support' %}?project={{ project.slug }}#sponsorship"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-browser18 bullet"></i>

                <p>Петър влиза в pitaigi.bg</p></li>
            <li><i class="fi flaticon-browser18fi flaticon-target6 bullet"></i>

                <p>Избира държавен орган, от който иска да получи информация</p></li>
            <li><i class="fi flaticon-mouse3 bullet"></i>

                <p>Натиска бутона "Подай заявление"</p></li>
        </ul>

    </div>
</section>