<section id="concept" class="main">
    <div class="bg-reset">
        <p>Уеб сайт под формата на карта с търсачка.</p>

        <p>В него всеки може да преглежда, търси и добавя пунктове за рециклиране, депа,
            места за хвърляне на батерии, скрап.</p>

        <p><strong>RE:CYCLE</strong> е провокиран от противоречията и недоверието в това
            дали изхвърленото в кофите за рециклиране наистина се рециклира. А недоверие
            има, било то заради неразделно изхвърляне на отдадъци от съседите или пък
            неразделно събиране на кофите от самите фирми.</p>

        <p>Проектът е стартиран с идеята, че пунктовете за изкупуване на рециклируеми
            материали и предлаганите услуги на търговски мрежи дават по-гарантиран
            резултат или поне по-добра ефективност.</p>

        <p>В <strong>RE:CYCLE</strong> местата за рециклиране биват показвани на карта,
            след което могат допълнително да се филтрират чрез търсачката, по тип на
            мястото <em>(пунт, депо, търговска мрежа, ... )</em> или тип на приеманите
            материали <em>(хартия, цветни метали, батерии, стълко, ...)</em>.</p>

        <p>Навигацията из картата става просто чрез преместване или пък въвеждане на
            адрес. </p>

        <p>Нужни са само 2 стъпки за добавяне, като на първата просто се разхождате
            виртуално от стартовата локация, за да изберете кадър, в който се вижда
            желаното място. Стартовата локация може да се посочи на картата или да се
            въведе като адрес. На втората стъпка вече се въвеждат детайли.</p>

        <p>Поради това че проектът е с много конкретна фукнция - <em>да означава
            географски локации със снимка и детайли, и след това да се търсят и
            филтрират</em> - огромна част от фокусът му е над изработката на удобен и
            лесен начин на работа изискващ минимални усилия, и включващ новаторски
            технологии, за да бъде не само полезен, а и интересен.</p>

        <h2>Открито изпълнение</h2>

        <p><strong>RE:CYCLE</strong> е <strong>проект с отворен код и дизайн</strong> <em>(Open
            Source)</em>, което ще рече, че е отворен за доработка, и че предлага
            техническото си изпълнение по прозрачен начин, позволяващ на всеки
            заинтересован да разбере как работи. Включва и подробни технически инструкции,
            за това как може да се подкара от трети лица.</p>

        <p>Функцията на проекта като инструмент за означване на обекти върху карта го
            прави широко приложим. Проектът може да има разновидности като карта на кофите
            или карта на заначтийски услуиги, както и всеки означим вид услуги.</p>
    </div>
</section>
<section id="who" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Кой</h2>

            <p class="subtitle">Екипът зад {{ project.name }}. Кой разработва
                проекта?
                Кой
                ни помага?</p>
        </header>

        <ul class="stripped team clearfix">
            <li><img width="35px"
                     src="http://graph.facebook.com/dimitar.raykov/picture?width=35&amp;height=35"
                     title="Димитър Райков">
                <strong class="name">Димитър Райков</strong>
                <strong class="position">Дизайн, идеи</strong></li>
            <li><img width="35px"
                     src="http://graph.facebook.com/krisgosp/picture?width=35&amp;height=35"
                     title="Кристиян Господинов">
                <strong class="name">Кристиян Господинов</strong>
                <strong class="position">Софт. разработка, идеи</strong></li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                      title="Антон Стойчев">
                <strong class="name">Антон Стойчев</strong>
                <strong class="position">Софт. разработка, идеи, координация</strong></li>
            <li class="clearfix"><img width="35px"
                                      src="http://graph.facebook.com/momchil.blaskov/picture?width=35&amp;height=35"
                                      title="Момчил Бласков">
                <strong class="name">Момчил Бласков</strong>
                <strong class="position">Бюджетиране, маркетинг</strong></li>
        </ul>
        {% include 'project/_join.html' %}
        <div class="info work">
            <h3 class="heading">Работният процес протича чрез:</h3>
            <ul class="channels stripped">
                <li class="facebook">
                    <a href="{{ project.fb_group }}" class="basic-transition">
                        <i class="fi flaticon-facebook8 basic-transition"></i>
                        <h4>Facebook група за дискусия и координиране</h4>

                        <p class="subtitle">
                            <span class="url">{{ project.fb_group }}</span>
                        </p>
                    </a>
                </li>
                <li class="github">
                    <a href="{{ project.repo }}" class="basic-transition">
                        <i class="fi flaticon-social44 round basic-transition"></i>
                        <h4>Файлове на проекта запазени в GitHub
                            хранилище </h4>

                        <p class="subtitle">
                            <span class="url">{{ project.repo }}</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info partners">
            <h3 class="heading">Съдействат ни:</h3>
            <ul class="partners stripped">
                <li class="clearfix">
                    <a href="http://www.greentech.bg/">
                        <img src="http://www.greentech.bg/wp-content/themes/hybrid-news/images/logo-green-10.png"
                             alt="GreenTech лого"
                             class="basic-transition"/>
                        <h4>GreenTech</h4>

                        <p class="subtitle">
                            Въвеждане на локации
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="why" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Защо </h2>

            <p class="subtitle">Защо започнахме проекта? Каква е ползата
                от {{ project.name }}? Защо заслужава финансиране?</p>
        </header>
        <ul class="stripped reasons">
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Дава възможност да се намери място за гарантирано рециклиране, за
                    разлика от кофите</p></li>
            <li><i class="fi flaticon-finger6 bullet"></i>

                <p>Увеличаване на рециклираните материали</p></li>
        </ul>
        <div class="alert financing">
            <i class="fi flaticon-warning18"></i>

            <p>Проектът {{ project.name }} е без никакво финансиране</p>
        </div>
        <a class="button standard green action" href="wip.html"><b>Подкрепи
            проекта</b></a>
    </div>
</section>
<section id="how" class="main">
    <div class="bg-reset">
        <header>
            <h2 class="heading">Как</h2>

            <p class="subtitle">Примерна употреба. Как се ползва
                {{ project.name }}? </p>
        </header>

        <ul class="stripped steps">
            <li><i class="fi flaticon-ripped bullet"></i>

                <p>Петър има насъбрани стари списания, вестници и изписани
                    тетрадки</p></li>
            <li><i class="fi flaticon-search4 bullet"></i>

                <p>Влиза в RE:CYCLE и търси "хартия" </p></li>
            <li><i class="fi flaticon-map25 bullet"></i>

                <p>Показват му се близките до него пунктове за рециклиране на
                    хартия</p></li>
        </ul>
    </div>
</section>