{% extends "layout.html" %}
{% load staticfiles %}
{% load url from future %}
{% load restful %}


{% block headTag %}
    {#    Тук се добавят допълнителни CSS файлове по примера на долния ред #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/select2/select2.css' %}">
    {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
    {#    за файл вътре в нея "static/css/lib/select2/select2.css" #}
{% endblock %}

{% block content %}
    {% include '_masthead_sample.html' %}

    <section class="users">
        <aside class="filter">
            <ul class="filter-simple">
                <li class="label">Само тези на разположение</li>
                <li><input type="checkbox" /></li>
                <li class="label">Покажи в категории спрямо дейност</li>
                <li><input type="checkbox" /></li>
            </ul>
            <div class="filter-advanced">
                <h3 class="title-primary">Интерес към проекти:</h3>
                <h4 class="title-info">Намерете човек спрямо интереса му към дадени проекти</h4>
                <input type="hidden" id="joinSkills" name="skills" style="width:100%" value="" data-choices="{{ skills_options|jsonify }}"/>
                <div class="users-free">
                    Участници неизбрали проекти <input type="checkbox" />
                </div>

                <h3 class="title-primary">Избрани дейности:</h3>
                <h4 class="title-info">Намерете човек според дейността, в която иска да се включи</h4>
                <input type="text" />
            </div>
        </aside>
        <section class="list">
            <nav class="nav-tabs">
                <a class="selected" href="">Хора</a>
                <a href="#">Юридическа</a>
                <a href="#">Място</a>
                <a href="#">Оборудване</a>
                <a href="#">Експертиза</a>
                <a href="#">Вдъхновение</a>
            </nav>
            <ul class="users-list">
                <li>
                    <section class="user-popup">
                        <a class="close-popup" href="#nogo">&#x2715;</a>
                        <h2 class="user-names">Нейчо Михайлов</h2>
                        <div class="avatar">
                            <figure>
                                <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                            </figure>
                            <a href="#">попитай</a>
                        </div>
                        <div class="user-desription">
                            Участвам в Общество.бг, понеже желая да
                        </div>
                        <ul class="activities-all">
                            <li>Андроид (код)</li>
                            <li>Проектово ръководство</li>
                            <li>Проектово ръководство и координация и (кво ли не друго казвам на баба си, докато събирал изпопадалите зелки)</li>
                        </ul>
                        <ol class="user-projects">
                            <li>
                                <a href="#">
                                    <img src="{% static 'img/temp/project-1.jpg' %}" alt="" />
                                    Pitaigi.bg
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'img/temp/project-2.jpg' %}" alt="" />
                                    RE:CYCLE
                                </a>
                            </li>
                        </ol>
                    </section>

                    <h2 class="user-names">Нейчо Михайлов</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                    <ol class="user-projects">
                        <li><a href="#"><img src="{% static 'img/temp/project-1.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-2.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-3.jpg' %}" alt="" /></a></li>
                    </ol>
                </li>
                <li>
                    <h2 class="user-names">Бойко Благоев</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                    <h6 class="no-projects">няма избрани проекти</h6>
                </li>
                <li>
                    <h2 class="user-names">Цветелина Константинова</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                     <ol class="user-projects">
                        <li><a href="#"><img src="{% static 'img/temp/project-1.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-2.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-3.jpg' %}" alt="" /></a></li>
                    </ol>
                    <a class="user-project-all" href="#">още</a>
                </li>
                <li>
                    <h2 class="user-names">Цветелина Константинова</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                     <ol class="user-projects">
                        <li><a href="#"><img src="{% static 'img/temp/project-1.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-2.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-3.jpg' %}" alt="" /></a></li>
                    </ol>
                    <a class="user-project-all" href="#">още</a>
                </li>
                <li>
                    <h2 class="user-names">Цветелина Константинова</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                     <ol class="user-projects">
                        <li><a href="#"><img src="{% static 'img/temp/project-1.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-2.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-3.jpg' %}" alt="" /></a></li>
                    </ol>
                    <a class="user-project-all" href="#">още</a>
                </li>
                <li>
                    <h2 class="user-names">Цветелина Константинова</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                     <ol class="user-projects">
                        <li><a href="#"><img src="{% static 'img/temp/project-1.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-2.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-3.jpg' %}" alt="" /></a></li>
                    </ol>
                    <a class="user-project-all" href="#">още</a>
                </li>
                <li>
                    <h2 class="user-names">Цветелина Константинова</h2>
                    <div class="avatar">
                        <figure>
                            <a href="#"><img src="{% static 'img/temp/user-avatar.jpg' %}" alt="" /></a>
                        </figure>
                        <a href="#">попитай</a>
                    </div>
                    <ul>
                        <li><a class="more-activities" href="#">и още 3 дейности</a></li>
                        <li>Андроид (код)</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                        <li>Проектово ръково....</li>
                    </ul>
                     <ol class="user-projects">
                        <li><a href="#"><img src="{% static 'img/temp/project-1.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-2.jpg' %}" alt="" /></a></li>
                        <li><a href="#"><img src="{% static 'img/temp/project-3.jpg' %}" alt="" /></a></li>
                    </ol>
                    <a class="user-project-all" href="#">още</a>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}

{% block footerTag %}
    <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
    <script src="{% static 'js/select2grouped.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
    {#    Тук се добавят допълнителни javascript файлове по примера на долния ред #}
    <script src="{% static 'js/users.js' %}"></script>
    {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
    {#    за файл вътре в нея "static/js/users.js" #}
{% endblock %}