{% extends "layout.html" %}
{% load staticfiles %}
{% load url from future %}
{% load restful %}

{% block content %}
    {% include '_masthead_sample.html' %}

    <section>
        <p><strong>Главната идеята на тази страница</strong>, както е по PSD, да се показват всички участници и да може да се филтрират
            по дейности и проекти, по това дали са избрали проекти и дали са свободни.</p>
        <p>По-долу са дадени технически примери и инфо за frontend-a.</p>
    </section>
    <section>
        <div class="layout">
            пример за съдържание орграничено в layout
        </div>
    </section>
    <section>
        пример за съдържание извън layout
    </section>
    <section>
        <div class="layout">
            пример за dropdown-a за дейностите
            <input type="hidden" id="joinSkills" name="skills" data-rule-required="true" style="width:100%" value=""
                   data-selection="
                           {% for s in member.skills.all %}{{ s.id }}{% if not forloop.last %}|{% endif %}{% endfor %}"
                   data-choices="{{ skills_options|jsonify }}"/>
        </div>
    </section>
    <section>
        <p>Главния CSS файл "грамадан" се намира в <code>web/static/css/app.css</code>. Препоръки по ре-структурирането
            или convert-ването му в LESS са добре дошли</p>

        <p>Повечето JS файлове се намират <code>web/static/js</code></p>

        <p>Някой JS/CSS библиотеки се намират <code>web/static/libs</code></p>

        <p>HTML файлът за тази страница се намира в <code>projects/templates/users/get.html</code></p>

        <p>Вътре във файла има примери как се добавят допълнителни CSS или JS файлове</p>
    </section>
    <section>
        <p>Ако трябва да се style-не нещо което го има на сайта вече, най-лесно е да се inspect-не елемента
            в сайта и да се види кои класове му дават стила</p>
    </section>
    <section>
        <p>Някои Javascript и css библиотеки и plugin-и които се ползват:</p>
        <ul>
            <li><a href="http://necolas.github.io/normalize.css/">normalise.css</a></li>
            <li><a href="http://jqueryvalidation.org/">jquery validation</a></li>
            <li><a href="http://ivaynberg.github.io/select2/">select2</a> - за по-добри dropdown, имаме и надградена опция за
                това в <code>/home/ubuntu/projects/obshtestvo.bg/login/static/js/select2grouped.js</code>, която се
                ползва за дейностите.
            </li>
            <li><a href="http://malsup.com/jquery/block/">block ui</a> - за да се блокира част от екрана докато нещо
                зарежда или нещо се анимира, така че потребителя да не кликне друго и да се счупи
            </li>
            <li><a href="http://dimsemenov.com/plugins/magnific-popup/">magnific-popup</a> - за modal прозорци, подобие на lightbox
            </li>
            <li><a href="http://fgnass.github.io/spin.js/">spin.js</a> - за preloader анимацийка, това кръгчето което се върти
            </li>
            <li><a href="http://os.alfajango.com/easytabs/">easytabs</a> - за табове
            </li>
            <li><a href="http://os.alfajango.com/easytabs/">easytabs</a> - за табове
            </li>
            <li><a href="http://isotope.metafizzy.co/filtering.html">istotope</a> - за анимирано филтриране (като това на хорат в PSD-то)
            </li>
            <li><a href="http://www.flaticon.com/">http://www.flaticon.com/</a> -  за генратор на иконки като шрифт</li>
            <li><a href="http://kushagragour.in/lab/hint/">HINT.css</a> -  за ефектни tooltip-и</li>
            <li><a href="http://www.owlgraphic.com/owlcarousel/">owl carousel</a></li>
            <li><a href="http://imakewebthings.com/jquery-waypoints/#get-started">waypoints</a></li>
            <li>... може спокойно да се добавят други.
            </li>
        </ul>
        <p>За това как се ползват разгледайте кода или питайте.</p>
    </section>

{% endblock %}

{% block headTag %}
    {#    Тук се добавят допълнителни CSS файлове по примера на долния ред #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/select2/select2.css' %}">
    {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
    {#    за файл вътре в нея "static/css/lib/select2/select2.css" #}
{% endblock %}
{% block footerTag %}
    <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
    <script src="{% static 'js/select2grouped.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
    {#    Тук се добавят допълнителни javascript файлове по примера на долния ред #}
    <script src="{% static 'js/users.js' %}"></script>
    {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
    {#    за файл вътре в нея "static/js/users.js" #}
{% endblock %}