{% load url from future %}
{% load restful %}
<form
    class="signup small clearfix"
    role="form"
    data-uid="{{uid}}"
    action="{% url 'require_extra_data' %}"
    method="post"
>
    <div class="animation-container">
        <div class="msg hidden"></div>
        <div class="controls">
            {% if usecase == 'notnow' %}
                <div class="control date focus round">
                    <label for="availabelAfter">Кога ще можете да се включите? <span class="help">Поне приблизително. Няма да ви безпокоим до тази дата</span> </label>
                    <input id="availabelAfter"
                           type="date"
                           class="round"
                           placeholder="например 29 май 2014 г."
                           name="available_after"
                           data-rule-required="true">
                    <span class="err available_after"></span>
                </div>
            {% endif %}
            <div class="control skills clearfix {% if usecase == 'notnow' %}faded{% else %}focus round{% endif %}">
                <label for="joinSkills">
                    В каква дейност <strong>бихте искате</strong> да се включите?
                    <span class="help">Не е нужно да бъде това което умеете най-добре.</span>
                </label>
                <input type="hidden" id="joinSkills" name="skills" data-rule-required="true" style="width:100%" value="" data-selection="{% for s in member.skills.all %}{{s.id}}{% if not forloop.last %}|{% endif %}{% endfor %}" data-choices="{{ skills_options|jsonify }}"/>
                <span class="err skills"></span>
                <label for="joinSkills" class="secondary">
                    <span class="help">Ако не виждате това, което искате, просто го напишете и натиснете “Enter”, за да го добавите.
                    </span>
                </label>
            </div>
            <div class="personal control round">
                <button type="submit"
                        class="button standard green"><b>Изпрати</b>
                </button>
                <div class="animation-container">
                    <div>
                        <strong>{{ details.first_name }} {{ details.last_name }}</strong>
                        <em>{{ details.email }}</em>
                        <a href="#" class="change">промени</a>
                    </div>
                    <div class="hidden inputs">
                        <input type="text" name="name"
                               class="form-control round"
                               placeholder="Име"
                               value="{{ details.first_name }} {{ details.last_name }}"
                               data-rule-required="true"
                        >
                        <span class="err name"></span>
                        <input type="text" name="email"
                               class="form-control round"
                               placeholder="Email адрес"
                               value="{{ details.email }}"
                               data-rule-required="true"
                               data-rule-email="true"
                        >
                        <span class="err email"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
