{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <form class="form-signin" role="form" action="{% url 'require_email' %}" method="post">
        <h2 class="form-signin-heading">Confirm email</h2>
        {% csrf_token %}
        <input type="email" name="email" class="form-control" placeholder="Email address" value="{{ details.email }}" required
               autofocus>
        <input type="text" name="first_name" class="form-control" value="{{ details.first_name }}" required
               >
        <input type="text" name="crazy_field" class="form-control" placeholder="That carzy field" required
               >

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
{% endblock %}
