{% extends "layout.html" %}
{% load restful %}
{% load url from future %}
{% load staticfiles %}


{% block content %}
    {% include 'about/_whatheader.html' %}
    <div class="animation-container">
    <section class="start">
        <div class="hidden">
            {% include 'user/_nav.html' %}
        </div>
        <h2 class="prompt">Сега вече може би е по-ясно, <strong>искате ли да се участвате?</strong></h2>
            <ul class="login options stripped"
                 data-dash="{% url 'dash' %}"
                 data-waiting-auth-msg="Изчакваме потвърждение от facebook"
                 data-app-id="{{ SOCIAL_AUTH_FACEBOOK_KEY }}"
                 data-scope="{{ SOCIAL_AUTH_FACEBOOK_SCOPE|jsonify }}"
            >
                <li class="now">
                    <p>Да, ще се включа </p>
                    <a href="#"
                       data-greeting="Чудно!"
                       data-server-gateway="{% url 'social:token' 'facebook' %}"
                       class="trigger button standard green">
                            <b>още сега</b>
                    </a>
                </li>
                <li class="later">
                    <p>Ще се включа, но </p>
                    <a href="#"
                       data-greeting="Добре. Нека се запознаем преди това."
                       data-server-gateway="{% url 'social:token' 'facebook' %}"
                       data-server-data='{"usecase": "notnow"}'
                       class="trigger button standard orange">
                        <b>сега не мога</b>
                    </a>
                </li>
                <li class="never">
                    <p>Не, просто фен, </p>
                    <a href="#nevergonnahelp"
                       class="button standard red never">
                            <b>само ще следя</b>
                    </a>
                    <div id="nevergonnahelp" class="transparent-popup mfp-with-anim round mfp-hide">
                        <div class="txt round">
                            <p>В този случай може да следите новостите <a href="http://status.obshtestvo.bg/">в блога</a> или twitter <a href="https://twitter.com/obshtestvobg">(@obshtestvo.bg)</a>.</p>
                            <p>Facebook <a href="https://www.facebook.com/groups/obshtestvo/">групата „Общество“</a> все още е доста активно място. Там се публикуват и предстоящи сбирки, хакатони и други събития.</p>
                            <p>Активността на групата малко-по-малко ще се забавя с темпото, което се да развива и сайта. Щом всичко е готово, повечето дейности ще се случват тук в сайта, а във Facebook ще има само страница.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="context">
                <span class="sep"></span>
                <p>
                    Тази страница е първа стъпка към това сайтът Obshtestvo.bg да стане централно място, където да
                    координираме усилията си
                </p>
                <a class="more" href="#doingwhat">Научи повече</a>
                <div id="doingwhat" class="transparent-popup mfp-with-anim round mfp-hide">
                    <div class="txt round">
                        <p>Сайтът obshtestvo.bg ще стане централно място, където
    да координираме усилията си</p>
                        <p>Линкове в facebook, skype, мейли; дискусии в hackpad, podio, facebook; файлове в dropbox,  gdrive, github, pcloud... - вече няма да са разпръснати. <strong>Всичко ще е на 1 място</strong></p>
                        <p>Това  ще отнеме време, но нека започнем от някъде. </p>
                        <p>Забелязвате ли, че повечето не се познаваме? Това прави трудно да си помагаме. Затова е, и тази страничка. Да добием представа кои сме всички ние.</p>
                        <p>Facebook <a href="https://www.facebook.com/groups/obshtestvo/">групата „Общество“</a> все още е доста активно място. Там се публикуват и предстоящи сбирки, хакатони и други събития.</p>
                        <p>Активността на групата малко-по-малко ще се забавя с темпото, което се да развива и сайта. Щом всичко е готово, повечето дейности ще се случват тук в сайта, а във Facebook ще има само страница.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block headTag %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/magnific-popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/select2/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/pickadate/lib/compressed/themes/classic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/pickadate/lib/compressed/themes/classic.date.css' %}">
{% endblock %}

{% block footerTag %}
    {{ block.super }}
    <script src="{% static 'libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/lib/jquery.animateContentSwitch.js' %}"></script>
    <script src="{% static 'libs/pickadate/lib/compressed/picker.js' %}"></script>
    <script src="{% static 'libs/pickadate/lib/compressed/picker.date.js' %}"></script>
    <script src="{% static 'libs/pickadate/lib/compressed/translations/bg_BG.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/facebook.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
    <script src="{% static 'js/select2grouped.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
    <script src="{% static 'js/lib/jquery.validate.js' %}"></script>
    <script src="{% static 'js/ajaxForm.js' %}"></script>
    <script src="{% static 'js/lib/spin.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/projectPicker.js' %}"></script>
    <script src="{% static 'js/whatCarousel.js' %}"></script>
    {#{% include '_fbbutton.html' %}#}
{% endblock %}