{% extends "layout.html" %}
{% load staticfiles %}<!DOCTYPE html>
{% block content %}

    <header class="masthead">
        <h1><a class="logo" href="/"><img src="static/img/logo.png"
                                          alt="Obshtestvo.bg - Civic Hacking в България"/></a>
        </h1>

        <p class="subtitle">Независими създатели на електронни инструменти за
            информираност с функция: удобна, приятна и
            лесна връзка
            <span class="connection">държава <i class="fi flaticon-exchange1"></i> гражданин</span>
        </p>
        <ul class="important-actions stripped">
            <li class="join"><a href="{% url 'support' %}#time"
                                class="button standard green"><b>Включи
                се</b></a></li>
            <li class="learn"><a href="{% url 'faq' %}#what" class="button standard blue"><b>Какво
                правим</b></a></li>
        </ul>
        <aside>
            <ul class="quick-info stripped">
                <li class="aims">
                    <div class="txt">
                        Целим
                        <ul class="stripped">
                            <li><strong>пълна</strong> отвореност</li>
                            <li><strong>приятна</strong> достъпност</li>
                            <li>и <strong>комфорт</strong> в гражданската активност</li>
                        </ul>
                    </div>
                    <a class="more" href="{% url 'faq' %}#approach">Как ще ги
                        постигнем</a>
                </li>
                <li class="act">
                    <div class="txt">
                        <p>
                            Правим
                            приложения така,
                            че да има “мегдан” за нас участниците,
                            да сме свободни и да вършим интересни неща
                        </p>
                    </div>
                    <a class="more" href="{% url 'faq' %}#gettingthingsdone">Как
                        работим</a>
                </li>
            </ul>
        </aside>
    </header>


    <div class="layout">
        <section id="projects" class="slice">
            <h2 class="section-heading">Проекти</h2>

            <div class="slider-nav clearfix">
        <span class="nav prev basic-transition round"><i
                class="fi flaticon-arrow462 "></i><span
                class="text hidden">Виж предишния проект</span></span>
                    <span class="indicator">
                        <img src="{% static 'img/home-slider-indicator-bg.png' %}" alt=""
                             class="scope"/>
                        <span class="light center"></span>
                    </span>
        <span class="nav next active basic-transition round"><i
                class="fi flaticon-arrow465 "></i><span
                class="text hidden">Виж следващия проект</span></span>
            </div>
            <div class="slider">
                {% for name, project in projects.items %}
                    {% if project.homepage %}
                        <article class="item clearfix">
                            {% with 'home/fakedb/_'|add:project.slug|add:".html" as template %}
                                {% include template %}
                            {% endwith %}
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>


    <section id="forces" class="slice">
        <div class="layout">
            <h2 class="divider section-heading">
                <i class="fi flaticon-exchange1"></i>
                По проектите желаем да работим заедно с
            </h2>
        </div>
        <ul class="stripped">
            <li class="odd clearfix rows2x2 force">
                <div class="layout">
                    <h3 class="heading"
                            ><a
                            href="{% url "about" %}#gov"
                            class="basic-transition-2x"
                            >Държавната<br/>
                        Администрация
                        <span class="subtitle basic-transition-mid"><strong title="и"
                                >+</strong> Общество</span
                                ></a
                            ></h3>

                    <p>Да подсилим опитите за <br/> приветливи публични услуги</p>
                    <ul class="stripped">
                        <li class="more"><a href="{% url "faq" %}#worthy"
                                            class="button standard green single"><b>Как
                            можем да
                            помогнем</b></a></li>
                        <li class="contact"><a href="{% url 'support' %}#sponsorship">Директна
                            връзка <i
                                    class="fi flaticon-chevron18"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="even clearfix rows1x3 force">
                <div class="layout">
                    <h3 class="heading"><a href="{% url "about" %}#business"
                                           class=" basic-transition-2x">Корпорации
                        <span class="subtitle basic-transition-mid"><strong title="и"
                                >+</strong> Общество</span
                                ></a></h3>

                    <p>Да отпуснем служителите с нашите мотивационни лагери и своевременно<br/>
                        това да бъде CSR</p>
                    <ul class="stripped">
                        <li class="more"><a href="{% url 'about' %}#fellowship"
                                            class="button standard green single"><b>Какво
                            предлагаме</b></a></li>
                        <li class="contact"><a href="{% url 'support' %}#fellowship">Директна
                            връзка <i
                                    class="fi flaticon-chevron18"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="odd clearfix rows1x3 force">
                <div class="layout">
                    <h3 class="heading"><a href="{% url 'about' %}#donors"
                                           class=" basic-transition-2x">Донори
                        <span class="subtitle basic-transition-mid"><strong title="и"
                                >+</strong> Общество</span
                                ></a></h3>

                    <p>Да поддържаме каузата жива чрез<br/> подпомагане от корпорации,
                        фондове<br/> или crowdfunding</p>
                    <ul class="stripped">
                        <li class="more"><a href="{% url 'faq' %}#worthy"
                                            class="button standard green single"><b>Защо
                            заслужаваме</b></a></li>
                        <li class="contact"><a href="{% url 'support' %}#sponsorship">Директна
                            връзка <i
                                    class="fi flaticon-chevron18"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="even clearfix rows2x2 force">
                <div class="layout">
                    <h3 class="heading"><a href="{% url 'about' %}#partners"
                                           class=" basic-transition-2x">Партниращи<br/>организации
                        <span class="subtitle basic-transition-mid"><strong title="и"
                                >+</strong> Общество</span
                                ></a></h3>

                    <p>Да правим проектите по-силни и<br/> обменяме опит</p>
                    <ul class="stripped">
                        <li class="more"><a href="{% url 'about' %}#partners"
                                            class="button standard green single"><b>Какъв
                            е
                            процеса</b></a></li>
                        <li class="contact"><a href="{% url 'faq' %}#partners">Директна
                            връзка <i
                                    class="fi flaticon-chevron18"></i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>

    <div class="layout">
        <section id="civic-hacking-product" class="slice clearfix">
            <h2 class="divider section-heading"><i class="fi flaticon-shipka1"></i>С които
                да градим</h2>
            <header>
                <h3 class="section-heading-secondary">Макет на България от бъдещето</h3>
            </header>
            <div class="map">
                <div class="text-overlay">
                    <p>На една по-добре комуникираща държава.</p>

                    <p>Чрез работата ни желаем да покажем на хората в България какво е
                        възможно с нови технологии, какво е
                        възможно едно правителство да бъде и да работи, как изкуство и
                        технологии могат да направят от
                        бюрократични процедури – приятно изживяване.</p>
                </div>
            </div>
            <i class="fi flaticon-rss25 rotate-45"></i>
            <iframe src="http://status.obshtestvo.bg/latest.html" frameborder="0"
                    class="blog"></iframe>
        </section>
    </div>


    <div class="layout">
        <section id="related-organisations" class="slice">
            <h2 class="divider section-heading"><i class="fi flaticon-earth17"></i>Идеята
                не е радикална</h2>

            <p class="subtitle">По света има успешни аналози на това което правим. Всеки
                един действащ локално.</p>
            <ul class="stripped clearfix">
                <li>
                    <a href="http://codeforamerica.org/"
                       class="basic-transition-2x round"><img
                            src="static/img/logos/codeforamerica.png"
                            class="basic-transition"
                            alt="Code For America лого"/></a>

                    <p>САЩ</p>
                </li>
                <li>
                    <a href="http://sunlightfoundation.com/"
                       class="basic-transition-2x round"><img
                            src="static/img/logos/sunlight-foundatioin.png"
                            class="basic-transition"
                            alt="Sunlight foundation лого"/></a>

                    <p>САЩ</p>
                </li>
                <li>
                    <a href="http://www.mysociety.org/" class="basic-transition-2x round"><img
                            src="static/img/logos/mysociety.png"
                            alt="mySociety лого"
                            class="basic-transition"/></a>

                    <p>Великобритания</p>
                </li>
                <li>
                    <a href="http://wearewhatwedo.org/" class="basic-transition-2x round"><img
                            src="static/img/logos/wearewhatwedo.png"
                            class="basic-transition"
                            alt="WeAreWhatWeDo лого"/></a>

                    <p>Великобритания</p>
                </li>
            </ul>
            <a class="more continue" href="http://government.github.com/"><i
                    class="eclipse">...</i> още
                <i
                        class="fi flaticon-chevron18"></i></a>
        </section>
    </div>
{% endblock %}

