{% extends "layout.html" %}
{% load url from future %}
{% load restful %}
{% load staticfiles %}

{% block headTag %}
    {#    Тук се добавят допълнителни CSS файлове по примера на долния ред #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/select2/select2.css' %}">
    {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
    {#    за файл вътре в нея "static/css/lib/select2/select2.css" #}
{% endblock %}

{% block content %}
    <form style="padding-top:100px; padding-left: 20%;" action="{{ user.id}}">
        <div><label style="display:block;" for="first_name">Име:</label>
            <input style="width: 75%;" name="first_name" value="{{ user.first_name }}"/>
            <span class="err"></span></div>
        <div style="padding-top:1.5%"><label style="display:block;" for="last_name">Фамилия:</label>
            <input style="width: 75%;" name="last_name" value="{{ user.last_name }}"/>
            <span class="err"></span></div>
        <div style="padding-top:1.5%"><label style="display:block;" class="full_width" for="email">Емайл:</label>
            <input style="width: 75%;" name="email" value="{{ user.email }} "/>
            <span class="err"></span></div>
        <div style="padding-top:1.5%"><label style="display:block;" for="skills">Умения:</label>
            <input style="width: 76%;" type="hidden" id="joinSkills" name="skills" style="width:500px" value=""
                   data-choices="{{ all_skills|jsonify }}"/>
            <span class="err"></span></div>
        <button style="float: right; margin-top:2%; margin-right: 24%" class="button small blue" id="update_user_btn">Актуалицирай
        </button>
    </form>
{% endblock %}

{% block footerTag %}
    <script src="{% static 'js/lib/select2/select2.mod.min.js' %}"></script>
    <script src="{% static 'js/select2grouped.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
    {#    Тук се добавят допълнителни javascript файлове по примера на долния ред #}
    <script src="{% static 'js/profile.js' %}"></script>
    {#    Горния ред търси във всяка папка на горно ниво в проекта (auth, locale, login, projects..) файл вътре в нея #}
    {#    за файл вътре в нея "static/js/users.js" #}
{% endblock %}