/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: "Myriad Pro", "Verdana", sans-serif;
    -webkit-font-smoothing:antialiased;
}

.fa-rotate-45 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #dfe0e0;
}

ul.stripped {
    margin:0;
    padding:0;
    list-style-type: none;
}

dl.stripped {
    margin:0;
}


dl.stripped dd {
    margin:0;
}

nav.main {
    position: fixed;
    width: 100%;
    height:48px;
    padding-bottom: 3px;
    z-index: 99999;
    background: url("../img/main-nav-border.png") no-repeat center bottom;
}

nav.main > div {
    background: white;
}
nav.main ul {
    margin: 0 auto;
    width:300px;
    padding-left: 30px;
    height:48px;
}
nav.main li a {
    margin: 17px 8px 6px 8px;
    display: inline-block;
}
nav.main li.logo a {
    height:20px;
    width:22px;
    background: url("../img/logo-mini.png") no-repeat top left;
    overflow: hidden;
    text-indent: -9999em;
    display: block;
}
nav.main ul li {
    float:left
}

nav.main ul > li > a {
    text-decoration: none;
    color: #94a8af;
    font-size: 17px;
}

header.masthead {
    background: #2a4650 url("../img/header-bg.jpg") no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    padding-top: 193px;
    padding-bottom: 53px;
    text-align: center;
}


.wip header.masthead {
    padding-top: 100px;
}


.wip header.masthead i.fa {
    font-size: 30px;
    color:#94A8AF;
}

header.masthead h1 {
    margin:0;
    padding: 0;
}

header.masthead h1 {
    margin:0;
    padding: 0;
}

.wip header.masthead h1 {
    padding-top: 20px;
}


header.masthead .subtitle {
    padding-top: 9px;
    padding-bottom: 44px;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.010em;
    line-height: 26px;
    color: white;
    display: inline-block;
    max-width: 442px;
}

header.masthead .subtitle .connection{
    display: inline-block;
    padding-left: 22px;
}

header.masthead .important-actions a {
    display: inline-block;
    padding:12px 10px 8px 10px;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: -0.025em;
    min-width: 130px;
    margin-bottom: 1px;
    -webkit-border-radius: 2px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 2px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

header.masthead .important-actions li.join a {
    background: #7bc142;
}


header.masthead .important-actions li.learn a {
    background: #2296c1;
}

header.masthead aside {
    font-size: 17px;
    letter-spacing: -0.025em;
    padding-top: 45px;
    line-height: 20px;
}

header.masthead aside .aims {
    padding-right: 13px;
}

header.masthead aside .act {
    padding-left: 13px;
}


header.masthead aside a.more {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    display: inline-block;
}

header.masthead aside .aims a.more {
    color: #2296c1;
}

header.masthead aside .act a.more {
    color: #7bc142;
}
header.masthead i.fa {
    font-size: 19px;
    display: inline-block;
    margin: 0 3px;
}


header.masthead .quick-info li {
    display: inline-block;
    width:300px;
    vertical-align: top;
}


header.masthead .quick-info li.aims {
    text-align: right;
}

header.masthead .quick-info li.act {
    text-align: left;
}
header.masthead .quick-info li.act p {
    padding: 0;
    margin:0;
}

.home section.slice {
    padding-bottom: 59px;
}



.home #projects header {
    text-align: center;
}
.home #projects header p {
    font-size: 17px;
    color: #94a8af;
    max-width: 497px;
    display: inline-block;
    margin: 18px 0 0 0;
    padding-bottom: 62px;
}
.home .slider article {
    font-size: 17px;
    line-height: 21px;
    color: #94a8af;
}
.home .slider article .bullet {
    font-size: 19.64px;
    width: 46px;
    text-align: center;
    float:left;
}
.home .slider article ul li.action .bullet  {
    position: relative;
    top:-5px
}
a.continue.more  {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    color: #2296c1;
}
a.continue.more .fa {
    font-size: 11px;
    font-weight: normal;
    position: relative;
    top:-1px;
    color: #c6d7dd;
}

a.continue.more .eclipse {
    color:#94a8af;
    font-weight: normal;
    font-size: 19.38px;
    display: inline-block;
    padding-right: 5px;
}
.home .slider article > section {
    float:left;
    text-align: center;
}
.home .slider article > section.how {
    width: 32%;
    padding-top: 34px;
}
.home .slider article > section.why {
    width: 36%;
}
.home .slider article > section.who {
    width: 32%;
    padding-top: 34px;
}
.home .slider article > section > .heading {
    width:219px;
    height:135px;
    font-size: 66px;
    line-height: 66px;
    padding-top: 84px;
    color: #108eba;
    background-color: #1b3640 ;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-border-radius: 50%; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 50%;
    letter-spacing: -0.07em;
}
.home .slider article > section.how > .heading {
    background-image: url("../img/home-slider-how-bg.png");
    background-position: -57px -21px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.home .slider article > section.why > .heading {
    background-image: url("../img/home-slider-why-bg.png");
    background-position: 65px -8px;
    margin: 0 auto;
    margin-bottom: 15px;
    width:298px;
    height:181px;
    padding-top: 117px;
}
.home .slider article > section.who > .heading {
    background-image: url("../img/home-slider-who-bg.png");
    background-position: 24px -52px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.home .slider article > section ul {
    text-align: left;
    display: inline-block;
    margin-left: 11%;
    margin-right: 2%;
}
.home .slider article > section.how ul {
    margin-left: 12.5%;
}
.home .slider article section.who ul {
    display: inline-block;
    margin-left: 0;
}

.home .slider article .how ul li p,
.home .slider article .why ul li p {
    margin: 13px 0 0 46px;
}
.home .slider article .who ul li {
    float:left;
    padding-top: 1px;
    padding-left: 1px;
}
.home .slider article .who ul li.break {
    clear:left
}
.home .slider article .who ul li:first-child img {
    -webkit-border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}
.home .slider article .who ul li.action a {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    float:left;
    background: #67b925;
    padding: 12px 16px 0 16px;
    color:#fff;
    height: 23px;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}
.home .slider-nav {
    border-top: 1px solid #e5e5e5;
    position: relative;
}
.home .slider-nav span.nav {
    position: relative;
    width:51px;
    height:41px;
    top:-21px;
    background: #fff;
    border:1px solid #e8ecee;
    -webkit-border-radius: 2px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 2px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
    text-align: center;
    line-height: 41px;
    color: #e2e7e9;
}
.home .slider-nav span.nav.active {
    cursor:pointer;
    color:#061e27;
    border-color: #b4c1c6;
}
.home .slider-nav span.nav.prev {
    float:left;
}
.home .slider-nav span.nav.next {
    float:right;
}
.home .slider-nav span.nav .fa {
    font-size: 30.61px;
    vertical-align: top;
    margin-top: 3px;
}
.home .slider-nav .indicator {
    position: absolute;
    left:50%;
    top:-10px;
    height:20px;
    width:22px;
    margin-left: -11px;
    display: block;
    background: #fff;
}
.home .slider-nav .indicator .scope {
    position: relative;
    display: block;
}
.home .slider-nav .indicator .light {
    background:#108eba;
    position: absolute;
    -webkit-border-radius: 50%; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 50%; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
    width:10px;
    height: 10px;
    display: block;
}
.home .slider-nav .indicator .light.center {
    top:5px;
    left:6px;
}

.section-heading {
    font-size: 22px;
    padding-top: 16px;
    font-weight: normal;
    color: #c7c7c7;
    text-align: center;
}

.section-heading-secondary {
    margin:0;
    padding-top: 25px;
    font-size: 31.21px;
    color: #061e27;
    text-align: center;
}

.section-heading-secondary a {
    text-decoration: none;
    color: #061e27;
}

.divider {
    padding-bottom:24px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.divider i.fa {
    font-size: 30px;
    color:#dfe0e0;
    background: #fff;
    padding: 0 6px;
    position: absolute;
    bottom:-14px;
    left:50%;
}

.divider i.fa.fa-exchange {
    margin-left: -20px;
}
.divider i.fa.fa-globe {
    margin-left: -20px;
}
.divider i.fa.fa-flag {
    margin-left: -25px;
}


.home #forces ul {
    text-align: right;
}

.home #forces .heading {
    font-size: 70.8px;
    font-weight: bold;
    line-height: 66px;
    color:#108eba;
    float:left;
    width:45.75%;
    text-align: right;
    margin:0;
}

.home #forces .heading {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home #forces .force {
    padding-top: 33px;
    padding-bottom: 30px;
}

.home #forces .odd ul,
.home #forces .odd {
    text-align: left;
}


.home #forces .odd .heading{
    padding-right: 4.25%;
    margin-right: 4.25%;
}
.home #forces .even {
    background: #e9eced;
}
.home #forces .even .heading {
    float:right;
    text-align: left;
    padding-left: 4.25%;
    margin-left: 4.25%;
}

.home #forces .force p {
    font-size: 24px;
    color: #94a8af;
    line-height: 29px;
    margin:0;
    padding-bottom: 15px;
}


.home #forces .force.even p {
    color: #6a8890;
}

.home #forces .force.rows2x2 p {
    padding-top:44px;
}
.home #forces .force.rows2x2 .heading {
    padding-bottom:40px;
}

.home #forces .force.rows1x3 p {
    padding-top:20px;
}
.home #forces .force.rows1x3 .heading {
    padding-top:73px;
    padding-bottom:73px;
}

.home #forces li.more a {
    display: inline-block;
    padding: 12px 10px 8px;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #7bc142;
    text-decoration: none;
    letter-spacing: -0.025em;
    -webkit-border-radius: 2px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 2px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.home #forces li.contact {
    padding-top: 14px;
}
.home #forces .even li.contact {
    position: relative;
    right:5px
}

.home #forces li.contact a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2296c1;
    text-decoration: none;
}


.home #forces li.contact a .fa {
    font-size: 11px;
    font-weight: normal;
    color: #a5bec4;
    margin-left: 3px;
}

.home #civic-hacking-product header {
    padding-top: 13px;
    padding-bottom: 23px;
}
.home #civic-hacking-product .map {
    height: 467px;
    width: 712px;
    /*width: 61.16%;*/
    overflow: auto;
    background: url("../img/home-map.png") no-repeat center center;
    float:left;
    margin-left: 8.5%;
}


.home #civic-hacking-product .text-overlay {
    margin-left:16%;
    margin-top: 24%;
    color:#fff;
    max-width: 62%;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}


.home #civic-hacking-product .text-overlay p {
    margin: 20px 0;
}

.home #civic-hacking-product iframe.blog {
    margin-top: 70px;
    margin-left: 3%;
    height: 400px;
    width: 23%;
    float:left;
}
.home #civic-hacking-product .fa-rss {
    font-size: 62.46px;
    float:left;
    margin-top: 186px;
    margin-left: -0.77%;
}

.wip #info {
    text-align: center;
}
.wip #info p.subtitle {
    font-size: 17px;
    color: #94a8af;
    max-width: 497px;
    display: inline-block;
    margin: 0 0 0 0;
    padding-bottom: 32px;
}
.wip #info dl {
    padding-bottom: 30px;
}
.wip #info dl a {
    color: #2296C1;
    text-decoration: none;
}
.wip #info dl a:hover {
    text-decoration: underline;
}

.wip .section-heading {
    color: #108EBA;
    font-size: 35px;
    letter-spacing: -0.07em;
    line-height: 66px;
    font-weight: bold;
}

.wip #info dt,
.wip #info dd {
    float:left;
    text-align: left;
    width:50%;
    height:80px
}
.wip #info .contact dt,
.wip #info .contact  dd {
    height:30px
}
.wip #info .contact p {
    margin: 0;
    padding-left: 2%;
}
.wip #info dt {
    text-align: right;
}
.wip #info dt h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    padding-right: 2%;
    max-width: 200px;
    display: inline-block;
    color:#1B3640;
}
.wip #info dd ul {
    padding-left: 2%;
}

footer {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #94a8af;
    padding-bottom: 150px
}

footer .sep {
    text-align: center;
    border-top: 1px solid #e5e5e5;
    position: relative;
    height: 20px;
    width: 369px;
    margin: 0 auto 13px auto;
}

footer .sep i.logo {
    height:20px;
    width:44px;
    background:#fff url("../img/logo-mini.png") no-repeat top center;
    display: block;
    position: absolute;
    left:50%;
    margin-left: -22px;
    top:-10px
}

.home #related-organisations {
    text-align: center;
}

.home #related-organisations p.subtitle {
    color: #94a8af;
    text-align: center;
    font-size: 17px;
    max-width: 431px;
    display: inline-block;
    line-height: 21px;
    padding-top: 0;
    margin-top: 11px;
}


.home #related-organisations ul li {
    text-align: left;
    float:left;
    width:20%;
    margin-left: 5%;
    margin-bottom: 22px;
    margin-top: 48px;
    color: #94a8af;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
.home #related-organisations ul li a {
    height: 80px;
    display: block;
}

footer {
    padding-top: 100px;
}
footer p {
    font-size: 17px;
    line-height: 21px;
    padding-bottom: 24px;
    padding-top: 3px;
}

footer p .connection{
    display: inline-block;
    padding-left: 18px;
}
footer p .fa {
    font-size: 22px;
    line-height: 14px;
    position: relative;
    top:3px
}

footer .quick-contacts li.online,
footer .quick-contacts li.contact {
    display: inline-block;
    margin: 0 10px;
    width:220px;
    font-size: 17px;
    line-height: 24px;
}
footer .quick-contacts li.online {
    text-align: right;
}
footer .quick-contacts li.contact {
    text-align: left;
}

footer .quick-contacts li .heading{
    font-size: 22px;
    color: #c7c7c7;
    font-weight: normal;
    padding-bottom: 10px;
    margin:0;
}

footer .quick-contacts li a {
    color: #94a8af;
    text-decoration: none;
}

/* Примерни media queries, в които се пише код за браузър със специфична резолюция или размер на пиксела */

@media only screen and (min-width: 1200px) {
    .layout {
        max-width: 1164px;
        margin: 0 auto;
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}