<form class="form-signin" role="form" id="#test" action="{% url 'social:complete' "email" %}"
      method="post">
    <h2 class="form-signin-heading">Enter StateFace</h2>
    <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
    <a href="{% url 'social:begin' 'google' %}">Google</a>
    <a href="{% url 'social:begin' 'email' %}">Email</a>
    {% csrf_token %}
    <input type="email" class="form-control" placeholder="Email address" required
           autofocus>
    <input type="password" class="form-control" placeholder="Password" required>

    <div class="form-group">
        <label for="exampleInputEmail1">Fullname:</label>
        <input type="text" class="form-control" name="fullname">
    </div>
    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up
    </button>
</form>
