<li><a href="#" class="basic-transition-2x">какво е Общество.бг</a></li>
<li><a href="#" class="basic-transition-2x">цели </a></li>
<li><a href="#" class="basic-transition-2x">как работим в Общество </a></li>
<li><a href="#" class="basic-transition-2x">заедно с държавната администрация </a></li>
<li><a href="#" class="basic-transition-2x">заедно с корпорации </a></li>
<li><a href="#" class="basic-transition-2x">заедно със спонсори </a></li>
<li><a href="#" class="basic-transition-2x">заедно с други активни групи и
    организации </a></li>
