{% extends "layout.html" %}
{% load staticfiles %}
{% block headTag %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/lib/select2/select2.css' %}">
{% endblock %}
{% block footerTag %}
    <script src="{% static 'js/lib/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
{% endblock %}
{% block content %}
    {% include '_header_inner.html' with screen_tmpl="faq/_screen.html" headnav_tmpl="faq/_headnav.html" toc_tmpl="faq/_toc.html" page_title="Въпроси и Отговори" %}
    <div class="half-layout">
    <div class="padder">
    <article class="txt">
    <section id="concept" class="main">
    <div class="bg-reset">
    <p>Тук добавяме въпроси, които често ни задават,
        и описваме техните отговори. За повече <a
                href="{% url 'about' %}">обща информация</a> за
        иницативата имамe
        <a href="{% url 'about' %}">отделна страница</a> . </p>

    <h2><a class="adjust" name="what"></a>Какво правим? </h2>

    <p>Създаваме: </p>
    <ul>
        <li>уеб сайтове</li>
        <li>мобилни приложения</li>
        <li>инфографики</li>
        <li>алтернативни концептуални дизайни за държавни сайтове</li>
        <li>въздействащи илюстраци и плакати<br>
        </li>
    </ul>
    <p>Чрез които да се улесни работата с държавата, и да се
        демонстрира какво още е възможно. Да се комуникират и
        извършват с лекота, иначе бюрократични занимания и
        същевременно да се покаже на хората, какво още могат да искат
        и какво е нужно за постигането му. Можете да прочетете още за
        <a href="#goals">целите ни</a> или обща информация за инициативата в <a
                href="{% url 'about' %}">отделна
            страница</a>.</p>

    <p>Ето списък на нашите най-активни проекти:</p>

    <ul>
        {% for slug, project in projects.items %}
            <li>
                <a href="{% url 'project' name=project.slug %}">{{ project.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <h2><a class="adjust" name="gettingthingsdone"></a>Как работим? </h2>


    <p>Имаме <a href="https://www.facebook.com/groups/obshtestvo/">Facebook
        група</a>, в която хората се присъединяват, щом Общество им
        стане интересно. Тази група служи за новости, линкове и базова
        организация.</p>

    <p>Нямаме финансиране, тоест всеки е доброволец, но финансиране се
        търси, за да можем да предложим на хората работа, в която
        вършат нещо интересно за тях.</p>

    <p>Всеки наш активен проект е идея на някой от тази група. Преди
        да стане проект:</p>

    <ol>
        <li>Идеята е предложена в групата</li>
        <li>Ако на хората им харесва се сформира екип</li>
        <li>Прави се нова Facebook група, която служи на екипа отново
            за базова организация и споделяне на идеи
        </li>
        <li>Съгласува се в екипа някакъв начин за по-детайлна
            проектова организация, с инструменти като <a
                    href="https://trello.com/">Trello</a>, <a
                    href="https://podio.com/">Podio</a>, <a
                    href="http://asana.com/">Asana</a> или други.
        </li>
        <li>Работни файлове и код се съхраняват в <a
                href="https://github.com/obshtestvo">акаунта на
            Общество в GitHub</a>, където са публично достъпни
        </li>
        <li>По нетехнически файлове, като copywrite текстове или
            дискусии, се работи, както е най-удобно за участващите
        </li>
        <li>Проектът се разработва, както всеки друг проект в IT
            индустрията, с разликата на ресурсите
            <strong>време</strong> и <strong>мотивация</strong>.
            Мотивацията е висока, но добороволческото време е
            ограничено.
        </li>
        <li>Постоянно се търсят укрепващи партньорства, с други
            организации и държавната администрация. Важното е проектът
            да съществува, работи и предлага приятен начин на
            използване. Не е важно да се тръби кой, и че чисто сам, го
            е направил.
        </li>
    </ol>
    <p>На никому не се налагат задачи, които не би искал да върши.
        Всеки, с желание да помогне избира каквото му е интересно,
        за
        което има 2 варианта:</p>

    <ol>
        <li>
            <p>Сам да се насочи към проект или задача, според
                тематиката или използваните техники. Примерни
                тематики: </p>

            <ul>
                <li>човешки права</li>
                <li>рециклиране</li>
                <li>криминална статистика</li>
                <li>политически мониторинг</li>
            </ul>
            <p>Или техники:</p>

            <ul>
                <li>изработка на кадър-по-кадър ръчно-рисувана
                    анимация
                </li>
                <li>писане на copywrite насочен към доброволци
                </li>
                <li><p>софтуер писан на nodejs, python, Scala,
                    ruby.</p>
                </li>
            </ul>
        </li>
        <li>И вторият начин е директно да се избере една от списък
            със задачи
        </li>
    </ol>

    <h2><a class="adjust" name="goals"></a>Каква е целта?</h2>

    <p>Имаме 3 главни цели:</p>

    <ol>
        <li><p>
            <strong>Да се разширят границите в които хората се поставят, когато мислят как
                по-добре може да функционира държавата</strong></p>
        </li>
        <li>
            <p><strong>Да се освободим от бюрокрацията</strong></p>

            <p>Което ще се опитаме да обясним с няколко подточки:</p>

            <ul>
                <li>Да не се губят усилия в изтощаваща бюрокрация.</li>
                <li>Да имат хората в България време да правят това което желаят.</li>
                <li>Да се върши работата бързо и приятно.</li>
                <li>Да остава лично време и време за добрини.</li>
                <li>Да бъде лесно да си гражданин - без да се пожертват ценни минути и
                    емоции.
                </li>
            </ul>
        </li>
        <li>
            <p><strong>Да предложим алтернативна работна среда</strong></p>

            <p>Да има място, където хората задвижващи дигитални проекти да работят и да
                вършат нещо интересно, ново и стойностно. Място, без безусловни искания от
                клиенти.</p>
        </li>
    </ol>


    <h2><a class="adjust" name="approach"></a>Как ще постигнем целите си? </h2>

    <p>Стремим се да постигнем <a href="#goals">нашите цели</a> чрез <a href="#what">серия
        от IT и дизайн проекти</a>. Тези проекти използват наличната публично-достъпна
        информация и публични услуги, и ги комбинират с модерни технологии.</p>

    <p>Създаваме тези проекти, понеже виждаме проблеми във връзката между гражданин и
        държава. Комуникацията между тях може да бъде:</p>

    <ol>
        <li><p>
            <strong>съществуваща, но тромава</strong>. Когато услуга или информация е
            трудно достъпна, бавна или неразбрана, и в следствие на което тя е
            неизползвана</p>
        </li>
        <li><p>
            <strong>несъществуваща, но изпълнима</strong>. Когато услуга или информация е
            технологично и законово изпълнима, но тя несъществува</p>
        </li>
        <li><p>
            <strong>несъществуваща и неизпълнима в текущата законова рамка</strong> Когато
            е технологично изпълнима, но законово не е, а би била желана и полезна за
            много</p>
        </li>
    </ol>
    <p>По тези проблеми действаме като:</p>

    <ol>
        <li><p>Когато можем: <strong>комбинираме</strong>. Комбинираме няколко публични
            услуги и източника на информация, споявайки ги с IT и улеснен графичен език,
            за да създадем нова такава, представяща олекотени и опростени стъпки</p>
        </li>
        <li><p>Когато има непреодолима законова пречка: <strong>създаваме мостри</strong>.
            Мостри на това което може да съществува, но за момента липсва. Тези мостри,
            отново представят олекотени и опростени стъпки, но резултатите от тях не са
            реални, а служат като провокация за хората проявили интерес. Провокация към
            действия, които биха помогнали тези мостри да станат напълно работещи.</p>
        </li>
    </ol>
    <p>За да действаме по описаните начини се допитваме до експертизата на широк кръг от
        хора и организации с опит в различни сфери. Започвайки от IT, дизайн, PR,
        маркетинг, и стигайки до всяко друго поле като право, работа с държавната
        администрация, екология, демокрация, изкуство. Можете да прочетете още за това <a
                href="#gettingthingsdone">как работим</a>.</p>

    <p>Смятаме, че ползите от това което правим са много и сме се опитали да ги изредим в
        <a href="#worthy">отговорът ни на "Защо заслужаваме подкрепа?"</a></p>


    <h2><a class="adjust" name="worthy"></a>Защо заслужаваме подкрепа? </h2>

    <p>Понеже сме хора, събрали се около идеята да подобрят българското общество
        посредством проекти с модерни технологии. Проекти, които:</p>

    <ul>
        <li><p>Правят по-ефикасна комуникацията между гражданин и
            държава, което води до бързи и резултатни процедури
            породени от образовани решения, както и до превенция на
            противозаконни действия породени от дезинформираност
        </p></li>
        <li><p>Съдействат за улекотена градска мобилност, като предлагат
            обществени услуги електронно, което премахва, или
            координира по-добре, нужното пътуване
        </p></li>
        <li><p>Предлагат улеснен достъп до услуги за хора с увреждания
        </p></li>
        <li><p>Свеждат ненужния разход на най-ценния ресурс - времето -
            до минимум, като премахват бюрократичната страна на нещата
        </p></li>
        <li><p>Засилват доверието в българската администрация, като
            показват желанието за развитие и уважение към гражданите
        </p></li>
        <li><p>Водят към работа с олекотени, нормални процедури,
            справедливи държавни търгове с високи изисквания и
            възможност за фокус върху пряката работа, а не върху
            административните процедури
        </p></li>
        <li><p>Снижават прага, който човек трябва да премине, когато
            взима решението да действа граждански, като правят
            гражданските действия смислени, бързи и приятни
        </p></li>
        <li><p>Увеличават равнопоставеността между държавата и
            индустрията и качеството на услугите предлагани от тях
        </p></li>
        <li><p>Биват подходящи за широк кръг от потребители. Те са
            еднакво полезни и достъпни за граждани, фирми, организации
            и институции
        </p></li>
        <li><p>Предпазват хората от това да потънат в административни
            детайли и да допуснат важните за тях желания и талантът им
            да закърнее
        </p></li>
        <li><p>Създават поле на изява за хората от IT сферата, в което те
            да работят над нещо смислено
        </p></li>
    </ul>
    <p>Като ползите от <a href="#gettingthingsdone">начина по който
        работим</a> са:</p>

    <ul>
        <li><p>Проектите се разработват открито, с отворен код и дизайн (<em>Open
            Source</em>), което ще рече че са отворени за доработка, и
            че предлагат техническото си изпълнение по прозрачен
            начин, позволяващ на всеки заинтересован да разбере как
            работи. Включват и подробни технически инструкции как може
            да се преизползват от трети лица.</p>
        </li>
        <li><p>Проектите представят публична информация под нова форма,
            която е систематизирана и лесна за анализ, но освен това
            се стремим сформираната база от данни на всеки проект да
            бъде лесна за машинна обработка, посредством публичен API</p>
        </li>
        <li><p>Процесът на работа включва огромно количество обмен на
            опит, а откритият начин на разработка правят проектите
            добър пример източник на примери за изпълнението на
            специфична задача</p>
        </li>
    </ul>
    <h2><a name="whyngo" class="adjust"></a>Защо избрахме да се регистрираме като НПО /
        Фондация? </h2>

    <p>Желаем създаденото от нас да поддържа себе си както и екип работещ по него, за
        което
        ни трябва финансиране.</p>

    <p>Не знаем за друг начин по който да набавим финансиране за обществено-полезни
        проекти,
        освен с кандидатстване като НПО. Избрахме НПО, тип "Фондация" понеже беше
        най-лесно
        за установяване.</p>

    <p>Ако имате идеи свързани с алтернативи за финансиране, драснете ни мейл на <a
            href="mailto:info@obshtestvo.bg">info@obshtestvo.bg</a></p>

    <h2><a name="whymany" class="adjust"></a>Защо няколко проекта, а не един?</h2>

    <p>Понеже идеята не е единствено да свършим проекта, а да предложим алтернативна среда
        за работа, която предлага интересни и нови занимания. </p>

    <p> За тази цел е нужно винаги да
        разполагаме с разнообразни теми, и технологични задачи, а това е възможно, само
        когато има няколко различни проекта.</p>
    <h2><a name="extras" class="adjust"></a>Какво получавате в замяна на участието си?</h2>

    <p>Надяваме се всеки нов участник, да се е присъединил, понеже желае проектите
       да се реализират, и понеже работата по тях му е приятна. </p>

    <p>Като допълнение, това, че тук се събираме хора с желание да градим нещо полезно и
        открито, ни позволява: </p>
    <ul>
        <li>Връзка и работа с професионалисти включили се в Общесво</li>
        <li>Опит и препоръки, които да послужат в кариерното развитие</li>
        <li>Безплатен лиценз за <a href="#wip">продуктите на JetBrains</a> при работа над
            проектите от Общество
        </li>
        <li>В скоро време да получим който и да е, от иначе скъпите, <a
                href="https://www.techsoup.bg/directory/">приложения предлагани от
            TechSoup</a> за около 10&euro;. Това са софтуер продукти като Adobe Photoshop,
            Illustrator, Microsoft Windows.
        </li>
    </ul>
    </div>
    </section>
    </article>
    </div>
    </div>
{% endblock %}