import os

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'your-super-secret-key'
DATABASES = {
    'default': {
        # CREATE DATABASE obshtestvo CHARACTER SET utf8 COLLATE utf8_general_ci;
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'obshtestvo', # Or path to database file if using sqlite3.
        'USER': 'user',
        'PASSWORD': 'secret',
        'HOST': '', # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '', # Set to empty string for default.
    }
}

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/var/www/example.com/static"
STATIC_ROOT = os.path.realpath(os.path.join(os.path.dirname(__file__), '../static'))

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['.obshtestvo.bg']

DEBUG = True
TEMPLATE_DEBUG = DEBUG
