upstream django {
  server unix:///path/to/deployment/obshtestvo.bg/server/obshtestvo.sock;
  keepalive 64;
}

server {
    listen 80;

    server_name www.obshtestvodev.bg;
    access_log /path/to/deployment/obshtestvo.bg/server/access.log;

    location ~ ^/(?:static/|upload/) {
      root /path/to/deployment/obshtestvo.bg;
      access_log off;
      expires max;
    }

    location ~ ^/(?:robots.txt|humans.txt|favicon.ico|favicon.png) {
      root /path/to/deployment/obshtestvo.bg/static;
      access_log off;
      expires max;
    }

    location / {
      include /etc/nginx/uwsgi_params;
      uwsgi_pass django;
    }
}
