[uwsgi]
#workers = 2
# master
master = true
# maximum number of processes
#processes = 10
# the socket (use the full path to be safe)
# with appropriate permissions - *may* be needed
socket = /path/to/deployment/obshtestvo.bg/server/obshtestvo.sock
chmod-socket = 777
chdir = /path/to/deployment/obshtestvo.bg
module = server.wsgi
# the virtualenv
virtualenv = /path/to/.virtualenvs/obshtestvobg
# make sure all required plugins are loaded
plugins = python
# clear environment on exit
vacuum = true
post-buffering = 1
