<header class="masthead clearfix">
    <div class="head">
        <div class="menu-wrapper">
            <ul class="project-actions stripped">
                {% include headnav_tmpl|default:"_headnav.html" %}
            </ul>
        </div>
        <h1 class="wide">{{ page_title }}</h1>
    </div>
    <div id="sidebar">
        <div class="screen-wrapper">
            <div class="screen basic-transition-2x">
                {% include screen_tmpl|default:"_screen.html" %}
            </div>
        </div>
        <div class="nav">
            <div class="toc basic-transition-2x">
                <strong>Съдържание</strong>
                <ul class="stripped">
                    {% include toc_tmpl|default:"_toc.html" %}
                </ul>
            </div>
        </div>
    </div>
</header>