{% load staticfiles %}<!DOCTYPE html>
<html class="no-js" lang="bg">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Общество - модерни, технологични подходи за България | Начална страница</title>
    <meta name="description" content="Civic Hacking в България">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="icon" type="image/png" href="http://www.obshtestvo.bg/favicon.png">

    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib/owl-carousel/owl.carousel.css' %}">
    <!--<script src="{% static 'js/lib/modernizr.custom.js' %}"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    {% block headTag %}{% endblock %}
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="{{page}} container">

    <nav class="main">
        <div class="container">
            <div class="layout">
                <ul class="clearfix stripped top basic-transition-mid">
                    <li class="about">
                        <a href="{% url 'about' %}" class="basic-transition-mid"><i class="fi flaticon-list23"></i>
                            Всичко
                            за нас</a>
                    </li>
                    <li class="logo basic-transition-mid"><a href="/">Obshtestvo.bg</a></li>
                    <li class="basic-transition-mid"><a href="{% url 'wip' %}">Подкрепи ни</a></li>
                </ul>
                <div class="slider-nav-wrapper basic-transition hidden waiting">
                    <div class="slider-nav clearfix">
                        <span class="nav prev basic-transition"><i class="fi flaticon-arrow462"></i><span
                                class="text hidden">Виж предишния проект</span></span>
                <span class="indicator">
                    <img src="static/img/home-slider-indicator-bg.png" alt="" class="scope"/>
                    <span class="light center"></span>
                </span>
                        <span class="nav next active basic-transition"><i class="fi flaticon-arrow465"></i><span
                                class="text hidden">Виж следващия проект</span></span>
                    </div>
                </div>
                <div class="title-holder basic-transition-slow hidden waiting">
                    <span class="helper"></span>
                </div>
            </div>
            <div class="sub  basic-transition-mid waiting hidden">
                <div class="dark"></div>
                <div class="light hidden"></div>
                <ul class=" stripped">
                    <li class="basic-transition-mid"><a href="#">По медиите</a></li>
                    <li class="basic-transition-mid"><a href="#">Отчети</a></li>
                    <li class="basic-transition-mid"><a href="#">Събития</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/lib/waypoints.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>