#footer {
    height: 30px;
}
.footer .content  {
    border: 0;
}
.footer .content .copyright,
.footer .content .tools,
.footer .content .branding {
    padding: 7px 10px 0 10px;
}
#wrap {
    margin-bottom: -30px;
}
.left-nav>ul>li ul li a:first-letter {
    text-transform: uppercase;
}
.search-container .select2-container,
.search-container select,
.search-container input {
    vertical-align: top;
    margin-top: 5px;
}

.select2-container .info {
    font-style: normal;
    font-size: 10px;
    opacity: 0.5;
}