body, html {
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro", "Verdana", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    line-height: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    padding-bottom: 17px;
}

a {
    text-decoration: none;
}

li a {
    color: #94a8af;
}

a.more .eclipse {
    color: #94a8af;
    font-weight: normal;
    font-size: 19.38px;
}

a.more {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
    color: #2296c1;
    position: relative;
}

a.more .fi {
    font-size: 11px;
    font-weight: normal;
    color: #c6d7dd;
    position: relative;
    top: -1px;
}

a.more .fi {
    font-size: 11px;
    font-weight: normal;
    position: relative;
    top: -1px;
    color: #c6d7dd;
}

a.more:hover {
    color: #4ACEFF;
}

a.more:active {
    color: #197A9E;
}

a.more:hover .fi {
    color: #2296c1;
    left: -2px
}

a.more:active {
    left: 3px;
}

a.continue.more:active .fi {
    color: #4ACEFF;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: 1px;
    top: -1px
}

li span {
    color: #d0d0d0;
    display: block;
}