<header>
    <h3 class="heading section-heading-secondary"><a
            href="{% url 'project' name=project.slug %}">Grada.me</a>
    </h3>

    <p>Платформа за разрешаването на проблемите от градската среда.</p>
</header>
<section class="how">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#how" class="basic-transition"><b>Как</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-eye50  bullet"></i>

            <p>Петър се прибира след работа и забелязва опасна сграда</p></li>
        <li><i class="fi flaticon-start1 bullet"></i>

            <p>Пуска приложението Grada.me през телефона си</p></li>
        <li><i class="fi flaticon-small35 bullet"></i>

            <p>Прави снимка на сградата</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#how">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="why">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#why" class="basic-transition"><b>Защо</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Мотивира и улеснява участието на гражданите в благоустройството на
                града им </p></li>
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Спомага за съществуването на един по-изправен град</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#why">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="who">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#who" class="basic-transition"><b>Кой</b></a>
    </h4>
    <ul class="stripped clearfix">
        <li><img width="35px"
                 src="http://graph.facebook.com/nikolai.aleksandrenko/picture?width=35&amp;height=35"
                 title="Николай Александренко"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/grgkostadinov/picture?width=35&amp;height=35"
                 title="Георги Костадинов"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/ivanvpenchev/picture?width=35&amp;height=35"
                 title="Иван Пенчев"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/achebg/picture?width=35&amp;height=35"
                 title="Ангел Георгиев"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/dimitar.danailov/picture?width=35&amp;height=35"
                 title="Димитър Данаилов"></li>
        <li class="break"><img width="35px"
                               src="http://graph.facebook.com/alex.milanov/picture?width=35&amp;height=35"
                               title="Алекс Миланов"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                 title="Антон Стойчев"></li>
        <li class="action"><a href="{% url 'project' name=project.slug %}#join"
                              class="button small green"><b>Включи се</b></a></li>
    </ul>
</section>