<header>
    <h3 class="heading section-heading-secondary"><a
            href="{% url 'project' name=project.slug %}">Опознай
        депутата</a></h3>

    <p>Игра, в която трябва да се познае от коя партия е всеки депутат.</p>
</header>
<section class="how">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#how" class="basic-transition"><b>Как</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-browser18 bullet"></i>

            <p>Петър влиза в сайта и започва нова игра</p></li>
        <li><i class="fi flaticon-bust bullet"></i>

            <p>Показва му се снимка и име на народен представител</p></li>
        <li><i class="fi flaticon-browser18fi flaticon-target6 bullet"></i>

            <p>Петър избира партия за показания депутат</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#how">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="why">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#why" class="basic-transition"><b>Защо</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Замисля гражданите за своите познания над важни теми</p></li>
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Повишава информираността за народните представители</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#why">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="who">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#who" class="basic-transition"><b>Кой</b></a>
    </h4>
    <ul class="stripped clearfix">
        <li><img width="35px"
                 src="http://graph.facebook.com/mitio/picture?width=35&amp;height=35"
                 title="Димитър Димитров"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/hambai/picture?width=35&amp;height=35"
                 title="Камен Станев"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/petyaraykovska/picture?width=35&amp;height=35"
                 title="Петя Райковска"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/angel.velikov.370/picture?width=35&amp;height=35"
                 title="Ангел Великов"></li>
        <li class="action"><a href="{% url 'project' name=project.slug %}#join"
                              class="button small green"><b>Включи се</b></a></li>
    </ul>
</section>