<header>
    <h3 class="heading section-heading-secondary"><a
            href="{% url 'project' name=project.slug %}">Open
        Parliament</a></h3>

    <p>Профили и мониторинг на активността в парламента</p>
</header>
<section class="how">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#how" class="basic-transition"><b>Как</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-browser18 bullet"></i>

            <p>Петър влиза в openparliament.bg</p></li>
        <li><i class="fi flaticon-target6 bullet"></i>

            <p>Разглежда статистики и анализа на активността в парламента</p></li>
        <li><i class="fi flaticon-mouse3 bullet"></i>

            <p>Клика на "Къде е властта"</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#how">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="why">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#why" class="basic-transition"><b>Защо</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Повишава информираността за хората и действията в парламента</p>
        </li>
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Улеснява достъпа и анализата на обществена информация за
                парламента</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#why">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="who">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#who" class="basic-transition"><b>Кой</b></a>
    </h4>
    <ul class="stripped clearfix">
        <li><img width="35px"
                 src="http://graph.facebook.com/kattodeva/picture?width=35&amp;height=35"
                 title="Екатерина Тодева"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/vbachev/picture?width=35&amp;height=35"
                 title="Васил Бачев"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/stanshaochow/picture?width=35&amp;height=35"
                 title="Станимир Савов"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                 title="Антон Стойчев"></li>
        <li class="action"><a href="{% url 'project' name=project.slug %}#join"
                              class="button small green"><b>Включи се</b></a></li>
    </ul>
</section>