<header>
    <h3 class="heading section-heading-secondary"><a
            href="{% url 'project' name=project.slug %}">Pitaigi.bg</a>
    </h3>

    <p>Портал за изпращане и публикуване на заявления за достъп до публична
        информация.</p>
</header>
<section class="how">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#how" class="basic-transition"><b>Как</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-browser18 bullet"></i>

            <p>Петър влиза в pitaigi.bg</p></li>
        <li><i class="fi flaticon-browser18fi flaticon-target6 bullet"></i>

            <p>Избира държавен орган, който иска да получи информация</p></li>
        <li><i class="fi flaticon-mouse3 bullet"></i>

            <p>Клика на "Подай заявление"</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#how">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="why">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#why" class="basic-transition"><b>Защо</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Повишава информираността за Правото на достъп до информация</p>
        </li>
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Улеснява гражданина като предлага целия процес под формата на уеб
                приложение</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#why">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="who">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#who" class="basic-transition"><b>Кой</b></a>
    </h4>
    <ul class="stripped clearfix">
        <li><img width="35px"
                 src="http://graph.facebook.com/elitsa.mateva/picture?width=35&amp;height=35"
                 title="Елица Матева"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/100006137442736/picture?width=35&amp;height=35"
                 title="Валентин Ласков"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/s2gatev/picture?width=35&amp;height=35"
                 title="Станислав Гатев"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/mitio/picture?width=35&amp;height=35"
                 title="Димитър Димитров"></li>
        <li class="break"><img width="35px"
                               src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                               title="Антон Стойчев"></li>
        <li class="action"><a href="{% url 'project' name=project.slug %}#join"
                              class="button small green"><b>Включи се</b></a></li>
    </ul>
</section>