<header>
    <h3 class="heading section-heading-secondary"><a
            href="{% url 'project' name=project.slug %}">RE:CYCLE</a>
    </h3>

    <p>Карта и търсачка с пунктове, депа, места за хвърляне на батерии, скрап, и
        други.</p>
</header>
<section class="how">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#how" class="basic-transition"><b>Как</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-ripped bullet"></i>

            <p>Петър има насъбрани стари списания, вестници и изписани
                тетрадки</p></li>
        <li><i class="fi flaticon-search4 bullet"></i>

            <p>Влиза в RE:CYCLE и търси "хартия" </p></li>
        <li><i class="fi flaticon-map25 bullet"></i>

            <p>Показват му се близките до него пунктове за рециклиране на
                хартия</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#how">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="why">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#why" class="basic-transition"><b>Защо</b></a>
    </h4>
    <ul class="stripped">
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Дава възможност да се намери място за гарантирано рециклиране, за
                разлика от кофите</p></li>
        <li><i class="fi flaticon-finger6 bullet"></i>

            <p>Увеличаване на рециклираните материали</p></li>
        <li class="action"><i class="eclipse bullet">...</i>

            <p><a class="more continue" href="{% url 'project' name=project.slug %}#why">още
                <i
                        class="fi flaticon-chevron18"></i></a></p>
        </li>
    </ul>
</section>
<section class="who">
    <h4 class="heading">
        <a href="{% url 'project' name=project.slug %}#who" class="basic-transition"><b>Кой</b></a>
    </h4>
    <ul class="stripped clearfix">
        <li><img width="35px"
                 src="http://graph.facebook.com/dimitar.raykov/picture?width=35&amp;height=35"
                 title="Димитър Райков"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/krisgosp/picture?width=35&amp;height=35"
                 title="Кристиян Господинов"></li>
        <li><img width="35px"
                 src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                 title="Антон Стойчев"></li>
        <li class="action"><a href="{% url 'project' name=project.slug %}#join"
                              class="button small green"><b>Включи се</b></a></li>
    </ul>
</section>