{% load staticfiles %}
<div class="step step1">
    <img src="{% static 'img/support-screen-bg.png' %}" alt=""/>

    <div class="overlay">
        <img src="{% static 'img/support-illustration.png' %}" alt=""/>

        <h2>Проправяме път за една <br/> по-комфотна България.</h2>

        <p>За да имате време да правите това което желате. За да не се губят усилия в
            бюрокрация. За да си свършите работата бързо и приятно. За да остава лично
            време за време за добрини. </p>
    </div>
</div>