<li><a href="#sponsorship" class="basic-transition-2x">финансиране</a></li>
<li><a href="#time" class="basic-transition-2x">участие</a></li>
<li><a href="#online" class="basic-transition-2x">дарение по интернет</a></li>
<li><a href="#transfer" class="basic-transition-2x">дарение чрез банков превод</a></li>
<li><a href="#media" class="basic-transition-2x">медийна подкрепа</a></li>
<li><a href="#fellowship" class="basic-transition-2x">временно заемане на служители</a>
</li>
<li><a href="#artefact" class="basic-transition-2x">предметно дарение</a></li>
<li><a href="#partners" class="basic-transition-2x">опит и експертиза</a></li>