{% extends "layout.html" %}
{% load staticfiles %}
{% block headTag %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/lib/select2/select2.css' %}">
{% endblock %}
{% block footerTag %}
    <script src="{% static 'js/lib/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
    <script src="{% static 'js/lib/jquery.validate.js' %}"></script>
    <script src="{% static 'js/ajaxForm.js' %}"></script>
    <script src="{% static 'js/lib/jquery.blockUI.js' %}"></script>
    <script src="{% static 'js/lib/jquery.animateContentSwitch.js' %}"></script>
    <script src="{% static 'js/lib/spin.js' %}"></script>
{% endblock %}
{% block content %}
    {% include '_header_inner.html' with extra_sidebar_classes="fixed reduced" toc_title="Начини да ни подкрепите" screen_tmpl="support/_screen.html" headnav_tmpl="support/_headnav.html" toc_tmpl="support/_toc.html" page_title="Подкрепа" %}
    <div class="half-layout">
    <div class="padder">
    <article class="txt">
    <section id="act" class="main">
    <p>Можете да ни подкрепите по различни начини. <br/> Изберете дали това ще бъде с:</p>

    <div class="bg-reset">
    <div class="option finance clearfix">
        <a class="adjust" id="sponsorship"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Финансиране</h2>

            <p class="basic-transition-2x">Вие сте част от
                спонсорираща организация, европейска
                програма или държавната администрация</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">
                <p>Email адресът ни е <a
                        href="mailto:info@obshtestvo.bg">info@obshtestvo.bg</a>.
                    Алтернативно, оставете
                    вашите детайли по-долу, за да се свържем ние с
                    Вас, или прочетете <a href="{% url 'faq' %}#worthy">защо
                        заслужаваме</a> подкрепата Ви.</p>

                <form class="small support basic-transition-2x"
                      method="post" action="{% url 'contact' %}">
                    <div class="animation-container">
                        <div class="msg hidden"></div>
                        <div class="controls">
                            <label for="sponsorName" class="placeholder">Името на Вашата
                                организация:</label>
                            <input type="text" name="name"
                                   id="sponsorName"
                                   class="round basic-transition-2x organisation"
                                   placeholder="името на Вашата организация"
                                   data-rule-required="true"
                                    />
                            <span class="err name"></span>
                            <label for="financeProject" class="placeholder">Предназначение
                                на финансирането:</label>
                            <select name="project" id="financeProject"
                                    class="project finance"
                                    data-rule-required="true"
                                    data-placeholder="предназначение на финансирането"
                                    >
                                <option value=""></option>
                                <option value="any">Там където е
                                    най-нужно
                                </option>
                                {% include 'support/_projects.html' %}
                            </select>
                            <span class="err project"></span>
                            <label for="sponsorEmail" class="placeholder">Е-mail адрес (за
                                връзка):</label>
                            <input type="text" name="email"
                                   id="sponsorEmail"
                                   class="round email basic-transition-2x"
                                   placeholder="email адрес (за връзка)"
                                   data-rule-required="true"
                                   data-rule-email="true"/>
                            <span class="err email"></span>
                            <input name="help" type="hidden" value="-"/>
                            <input name="type" type="hidden" value="sponsorship"/>
                            <button type="submit"
                                    class="button small green"><b>Изпрати</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="option active clearfix time">
        <a class="adjust" id="time"></a>
        <header class="active basic-transition-2x">
            <h2 class="basic-transition-2x">Участие</h2>

            <p class="basic-transition-2x">Имаш идеи, умения и желаеш
                да се включиш в проектите</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content">
                <p>
                    Страхотно! Може да видиш <a href="{% url 'faq' %}#gettingthingsdone">как
                    ще
                    работим заедно</a> и <a href="{% url 'faq' %}#goals">каква е целта</a>.
                    Само кажи с какво искаш да се включиш и дали имаш
                    избран проект - и вече си се присъединил!
                </p>

                <form class="small general basic-transition-2x"
                      method="post" action="{% url 'members' %}">
                    <div class="animation-container">
                        <div class="msg hidden">

                        </div>
                        <div class="controls">
                            <label for="joinPosition" class="placeholder">С какви умения
                                бихте помогнали:</label>
                            <select name="position" id="joinPosition"
                                    data-placeholder="дизайн, маркетинг, ръководство..."
                                    class="round basic-transition-2x"
                                    data-rule-required="true"
                                    multiple>
                                {% for value, label in positions.items %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                            <span class="err position"></span>
                            <label for="joinProject" class="placeholder">По кой от
                                проектите:</label>
                            <select name="project"
                                    id="joinProject"
                                    class="project"
                                    data-rule-required="true"
                                    data-placeholder="по кой проект?"
                                    >
                                <option value=""></option>
                                <option value="any">Там където е
                                    най-нужно
                                </option>
                                {% include 'support/_projects.html' %}
                            </select>
                            <span class="err project"></span>
                            <label for="joinEmail" class="placeholder">Е-mail адрес (за
                                връзка):</label>
                            <input type="text" name="email"
                                   id="joinEmail"
                                   class="email round basic-transition-2x"
                                   placeholder="email адрес (за връзка)"
                                   data-rule-required="true"
                                   data-rule-email="true"/>
                            <span class="err email"></span>
                            <button type="submit"
                                    class="button small green"><b>Брой
                                ме</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="option donation clearfix">
        <a class="adjust" id="online"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Дарение по интернет</h2>

            <p class="basic-transition-2x">С банкова карта посредством PayPal или ePay</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">
                <p>Виждаме много и хубави неща задвижени чрез групово
                    финансиране. Вярваме, че ако всеки даде, дори по малко,
                    събраното заедно има ефект.</p>

                <form class="small donate">
                    <p class="almost-label">Изберете проект:</p>
                    <select name="project"
                            class="project"
                            id="donationProject"
                            data-raw="Дарение към Obshtestvo.bg"
                            > {# Обичам те Тони, ПП: Петьо #}
                        <option value="any">Там където е
                            най-нужно
                        </option>
                        {% include 'support/_projects.html' %}
                    </select>

                    <p class="almost-label pgateway">Начин на дарение:</p>
                    <label class="paypal pgateway hint--top hint--info"
                           data-hint="С банкова карта или paypal сметка">
                        <input type="radio" name="type" id="typePaypal" value="paypal"
                               checked="checked"/>

                        <p class="description">
                            <img src="{% static 'img/paypal.png' %}" alt="PayPal"/>
                            <span class="cards"></span>
                            <span class="lang">На английски</span>
                            <span class="help">Ако имате колебания с английския пробвайте ePay</span>
                        </p>
                    </label>
                    <label class="epay pgateway hint--top hint--info"
                           data-hint="С банкова карта или микросметка">
                        <input type="radio" name="type" id="typeEpay" value="epay"/>

                        <p class="description">
                            <img src="{% static 'img/epay.png' %}" alt="ePay.bg"/>
                            <span class="cards"></span>
                            <span class="lang">На български</span>
                            <span class="help">Ако не искате регистрация, когато сайтът зареди кликнете на логото на VISA вдясно</span>
                        </p>
                    </label>

                    <p class="almost-label">И сума:</p>
                    <button type="submit" data-amount="10"
                            class="button small green"><b>10лв</b>
                    </button>
                    <button type="submit" data-amount="50"
                            class="button small green"><b>50лв</b>
                    </button>
                    <button type="submit" data-amount="100"
                            class="button small green"><b>100лв</b>
                    </button>
                    <button type="submit" data-amount="300"
                            class="button small green"><b>300лв</b>
                    </button>
                    <button type="submit" data-amount="1000000"
                            class="button small green more"><b>повече</b>
                    </button>
                </form>

                <form action="https://www.epay.bg/" method="post" class="pgateway epay">
                    <input type=hidden name="PAGE" value="paylogin">
                    <input type=hidden name="EMAIL"
                           value="info@obshtestvo.bg">
                    <input type=hidden name="INVOICE" value="">
                    <input type=hidden name="ENCODING" value="utf-8">
                    <input type=hidden name="TOTAL" value="20.00">
                    <input type=hidden name="DESCR"
                           value="">
                    <input type=hidden name=URL_OK
                           value="https://www.epay.bg/?p=thanks">
                    <input type=hidden name=URL_CANCEL
                           value="https://www.epay.bg/?p=cancel">
                    <input class=epay-button type=submit
                           name="BUTTON:EPAYNOW"
                           value="pay">
                </form>
                {# https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/ #}
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
                      class="pgateway paypal">
                    <input type="hidden" name="cmd" value="_donations"/>
                    <input type="hidden" name="business" value="info@obshtestvo.bg"/>
                    <input type="hidden" name="item_name"
                           value=""/>
                    <input type="hidden" name="cbt"
                           value="Обратно към сайта на Общество"/>
                    <input type="hidden" name="lc" value="BG"/>
                    <input type="hidden" name="amount" value="422"/>
                    <input type="hidden" name="charset" value="UTF-8"/>
                    <input type="hidden" name="image_url"
                           value="http://www.obshtestvo.bg/static/img/logo.png"/>
                    <input type="hidden" name="return"
                           value="http://www.obshtestvo.bg/donation/complete.html"/>
                    <input type="hidden" name="cancel_return"
                           value="http://www.obshtestvo.bg/donation/almost.html"/>
                    <input type="hidden" name="currency_code" value="EUR"/>
                    <input id="wsbppbtn1" name="submit" alt="" type="image"/>
                </form>


            </div>
        </div>
    </div>
    <div class="option clearfix bank">
        <a class="adjust" id="transfer"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Дарение чрез банков
                превод</h2>

            <p class="basic-transition-2x">Директно от сметка към
                сметка</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">
                <p>Благодарим! Детайлите на сметката ни:</p>

                <p class="details">
                    <strong>Титуляр:</strong> Фондация Общество точка бг <br/>
                    <strong>IBAN</strong>: BG05FINV91501216045871<br/>
                    <strong>Банка:</strong> Първа Инвестиционна банка
                </p>

                <p>Ако правите дарение от чужбина:</p>

                <p><strong>BIC/SWIFT код:</strong> FINVBGSF<br/>
                    <strong>Титуляр:</strong> Fondatsiya Obshtestvo dot bg<br/>
                    <strong>Банка:</strong> FIRST INVESTMENT BANK, Bulgaria, Sofia;<br/>
                    Вижте и <a
                            href="http://www.fibank.bg/bg/korespondentski-otnosheniya/page/770#korespondentski-smetki">банките
                        кореспонденти</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="option media clearfix">
        <a class="adjust" id="media"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Медийна подкрепа</h2>

            <p class="basic-transition-2x">Вие сте част от медия и
                харесвате идеите ни</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">

                <p>Email адресът ни е <a
                        href="mailto:info@obshtestvo.bg">info@obshtestvo.bg</a>.
                    Алтернативно, оставете
                    вашите детайли по-долу, за да се свържем ние с
                    Вас, или прочетете какво <a href="{% url 'about' %}"> сме написали
                        като
                        прес-инфо</a>.</p>

                <form class="small support basic-transition-2x"
                      method="post" action="{% url 'contact' %}">
                    <div class="animation-container">
                        <div class="msg hidden">

                        </div>
                        <div class="controls">
                            <label for="mediaName" class="placeholder">Името на Вашата
                                медия:</label>
                            <input type="text" name="name"
                                   id="mediaName"
                                   class="round basic-transition-2x organisation"
                                   placeholder="името на Вашата медия"
                                   data-rule-required="true"/>
                            <span class="err name"></span>
                            <label for="mediaProject" class="placeholder">Интересувате се
                                от:</label>
                            <select name="project" id="mediaProject"
                                    class="project finance"
                                    data-placeholder="проект"
                                    data-rule-required="true"
                                    >
                                <option value=""></option>
                                <option value="any">Идеята на Общество.бг като цяло
                                </option>
                                {% include 'support/_projects.html' %}
                            </select>
                            <span class="err project"></span>

                            <label for="mediaEmail" class="placeholder">Е-mail адрес (за
                                връзка):</label>
                            <input type="text" name="email"
                                   id="mediaEmail"
                                   class="round email basic-transition-2x"
                                   placeholder="email адрес (за връзка)"
                                   data-rule-required="true"
                                   data-rule-email="true"/>
                            <span class="err email"></span>
                            <input name="help" type="hidden" value="-"/>
                            <input name="type" type="hidden" value="media"/>
                            <button type="submit"
                                    class="button small green"><b>Изпрати</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="option clearfix fellowship">
        <a class="adjust" id="fellowship"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Временно заемане на
                служители</h2>

            <p class="basic-transition-2x">Вие сте част компания и
                можете да увеличите нашата работа сила
                за период от време</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">
                <p>Email адресът ни е <a
                        href="mailto:info@obshtestvo.bg">info@obshtestvo.bg</a>.
                    Алтернативно, оставете
                    вашите детайли по-долу, за да се свържем ние с
                    Вас или <a href="{% url 'about' %}#fellowship">прочетете какво точно
                        предлагаме</a>.
                </p>

                <form class="small support basic-transition-2x"
                      method="post" action="{% url 'contact' %}">
                    <div class="animation-container">
                        <div class="msg hidden">

                        </div>
                        <div class="controls">
                            <label for="fellowshipName" class="placeholder">Името на
                                Вашата компания:</label>
                            <input type="text" name="name"
                                   id="fellowshipName"
                                   class="round basic-transition-2x organisation"
                                   placeholder="името на Вашата компания"
                                   data-rule-required="true"
                                    />
                            <span class="err name"></span>

                            <label for="mediaEmail" class="placeholder">Е-mail адрес (за
                                връзка):</label>
                            <input type="text" name="email"
                                   id="mediaEmail"
                                   class="round email basic-transition-2x"
                                   placeholder="email адрес (за връзка)"
                                   data-rule-required="true"
                                   data-rule-email="true"/>
                            <span class="err email"></span>
                            <input name="project" type="hidden" value="-"/>
                            <input name="help" type="hidden" value="-"/>
                            <input name="type" type="hidden" value="fellowship"/>
                            <button type="submit"
                                    class="button small green"><b>Изпрати</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="option physical clearfix">
        <a class="adjust" id="artefact"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Предметно дарение</h2>

            <p class="basic-transition-2x">Оборудване, конферентни
                зали, намаления, “freebies” ...</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">
                <p>Страхотно! Не разполагаме с някаква собственост. Когато има нужда,
                    някой от нас допринася с място, оборудване, транспорт и др. Затова се
                    радваме, че
                    имате възможност и желание.</p>

                <form class="small support basic-transition-2x"
                      method="post" action="{% url 'contact' %}">
                    <div class="animation-container">
                        <div class="msg hidden">
                        </div>
                        <div class="controls">
                            <label for="help" class="placeholder">С какво може да
                                помогнете?:</label>
                            <input type="text" name="help"
                                   id="help"
                                   class="round basic-transition-2x organisation"
                                   placeholder="с какво може да помогнете?"
                                   data-rule-required="true"/>
                            <span class="err help"></span>

                            <label for="mediaEmail" class="placeholder">Е-mail адрес (за
                                връзка):</label>
                            <input type="text" name="email"
                                   id="mediaEmail"
                                   class="round email basic-transition-2x"
                                   placeholder="email адрес (за връзка)"
                                   data-rule-required="true"
                                   data-rule-email="true"/>
                            <span class="err email"></span>
                            <input name="project" type="hidden" value="-"/>
                            <input name="name" type="hidden" value="-"/>
                            <input name="type" type="hidden" value="freebie"/>
                            <button type="submit"
                                    class="button small green"><b>Изпрати</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="option clearfix partners">
        <a class="adjust" id="partners"></a>
        <header class="basic-transition-2x">
            <h2 class="basic-transition-2x">Опит и експертиза</h2>

            <p class="basic-transition-2x">Вие сте част организация с опит по тема
                засегната от наш проект</p>
            <i class="fi flaticon-check1"></i>
        </header>
        <div class="info">
            <div class="info-holder"></div>
            <div class="info-content hidden">
                <p>Email адресът ни е <a
                        href="mailto:info@obshtestvo.bg">info@obshtestvo.bg</a>.
                    Алтернативно, оставете
                    вашите детайли по-долу, за да се свържем ние с
                    Вас или <a href="{% url 'about' %}#partners">прочетете какъв е
                        процеса</a>.
                </p>

                <form class="small support basic-transition-2x"
                      method="post" action="{% url 'contact' %}">
                    <div class="animation-container">
                        <div class="msg hidden">

                        </div>
                        <div class="controls">
                            <label for="fellowshipName" class="placeholder">Името на
                                Вашата компания:</label>
                            <input type="text" name="name"
                                   id="fellowshipName"
                                   class="round basic-transition-2x organisation"
                                   placeholder="името на Вашата компания"
                                   data-rule-required="true"
                                    />
                            <span class="err name"></span>
                            <label for="joinProject" class="placeholder">Кой проект е от
                                интерес:</label>
                            <select name="project"
                                    id="joinProject"
                                    class="project"
                                    data-rule-required="true"
                                    data-placeholder="кой проект?"
                                    >
                                <option value=""></option>
                                {% include 'support/_projects.html' %}
                            </select>
                            <span class="err project"></span>
                            <label for="mediaEmail" class="placeholder">Е-mail адрес (за
                                връзка):</label>
                            <input type="text" name="email"
                                   id="mediaEmail"
                                   class="round email basic-transition-2x"
                                   placeholder="email адрес (за връзка)"
                                   data-rule-required="true"
                                   data-rule-email="true"/>
                            <span class="err email"></span>
                            <input name="help" type="hidden" value="-"/>
                            <input name="type" type="hidden" value="partnership"/>
                            <button type="submit"
                                    class="button small green"><b>Изпрати</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </section>
    </article>
    </div>
    </div>
{% endblock %}