{% load staticfiles %}
<section id="projects" data-user-gateway="{% url 'user' user.id %}">
    <div class="layout">
        <h2 class="prompt">Добре дошли! <strong>Можете да изберете какво Ви интересува <br/>
от проектите в разработка или все още незапочнатите</strong></h2>
        <h2 class="divider vivid section-heading">
            Проекти в разработка:
        </h2>
    </div>
    <div class="alert center warning">
        <div class="layout">
            <p class="left">
                Можете да изберете проекти или идеи, които <br/> Ви интересуват, но засега това е всичко.
            </p>

            <i class="fi flaticon-warning18"></i>
            <p class="right">
                Допълнителни възможности в сайта<br/>
                се доработват
            </p>
        </div>
    </div>
    <div class="layout">
        <div class="project-picker-container">
            <ol class="stripped project-picker clearfix">
            {% for project in projects %}
                {% if project.is_forced_active %}
                <li class="project{% if user in project.interested_users.all %} active{% endif %}" data-project="{{ project.id }}">
                    <i class="fi flaticon-check1"></i>
                    <span
                        class="preview round"
                        {% if project.complimenting_color %} style="border-color: {{ project.complimenting_color }}"{% endif %}
                    >
                        <img src="{% if project.logo_thumb %}{{ MEDIA_URL }}{{ project.logo_thumb }}{% else %}{% static 'img/nologo-thumb.png'%}{% endif %}" alt="" />
                    </span>
                    <div class="desc">
                        <h2>{{ project.name }}</h2>
                        <p>
                            <span class="showdots"></span>
                            <span class="dots">&hellip;</span>
                            {{project.short_description}}
                            <span class="hidedots"></span>
                        </p>{% if project.slug and project.has_static_page %}
                                <a class="bulky more clamp" href="{% url 'project' project.slug %}">още</a>
                            {% else %}
                                <a class="bulky more clamp ask-for-project" data-facebook-group="{{ project.facebook_group }}" href="#askinprojectfb">още</a>
                            {% endif %}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ol>
        </div>
    </div>


    <div class="layout">
        <h2 class="divider vivid section-heading">
            Незапочнати проекти (идеи):
        </h2>
    </div>
    <div class="alert center warning">
        <div class="layout">
            <p class="left">
                Можете да изберете проекти или идеи, които <br/> Ви интересуват, но засега това е всичко.
            </p>

            <i class="fi flaticon-warning18"></i>
            <p class="right">
                Допълнителни възможности в сайта<br/>
                се доработват
            </p>
        </div>
    </div>
    <div class="layout">
        <div class="project-picker-container">
            <ol class="stripped project-picker clearfix">
            {% for project in projects %}
                {% if not project.is_forced_active %}
                <li class="project faded {% if project.slug == 'user'%} add{% endif %}
                {% if user in project.interested_users.all %} active{% endif %}" data-project="{{ project.id }}">
                    <i class="fi flaticon-check1"></i>
                    <span
                        class="preview round"
                        {% if project.complimenting_color %} style="border-color: {{ project.complimenting_color }}"{% endif %}
                    >
                        <img src="{% if project.logo_thumb %}{{ MEDIA_URL }}{{ project.logo_thumb }}{% else %}{% static 'img/nologo-thumb.png'%}{% endif %}" alt="" />
                        {% if project.slug == 'user'%} <span class="new"></span>{% endif %}
                    </span>
                    <div class="desc">
                        {% if project.slug == 'user'%}
                            <h2>Твоя идея</h2>
                        {% else %}
                            <h2>{{ project.name }}</h2>
                            <a class="bulky more ask" href="#askinfacebook">Научи повече</a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ol>
        </div>
    </div>
    <div id="askinfacebook" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p>Проектът все още не е описан. Пуснете едно съобщение <a
                    href="https://www.facebook.com/groups/obshtestvo/">в общата facebook група</a>, в което питате за него.</p>
            <p>Там има кой да Ви отговори. Не се притеснявайте, точно за това е групата - за въпроси и дискусии.</p>
        </div>
    </div>
    <div id="askinprojectfb" class="transparent-popup mfp-with-anim round mfp-hide">
        <div class="txt round">
            <p>Проектът няма отделна страничка. Пуснете едно съобщение <a
                    href="#">във facebook групата на проекта</a>, в което питате за инфо.</p>
            <p>Там има кой да Ви отговори. Не се притеснявайте, точно за това е групата - за въпроси и дискусии.</p>
        </div>
    </div>
</section>