{% load staticfiles %}
<div class="step step1">
    <img src="/upload/beurocracy_screen_1.png" alt=""/>

    <div class="overlay">
        <img src="{% static 'img/logo-big-white.png' %}" alt="" class="logo"/>
        <strong class="name">Фондация Общество точка бг</strong>
        <ul class="stripped">
            <li><em>email:</em> info@obshtestvo.bg</li>
            <li><em>тел:</em> 09889 640 47</li>
        </ul>
    </div>
</div>
<div class="step step2 basic-transition-2x waiting hidden">
    <img src="/upload/beurocracy_screen_2.png" alt=""/>

    <div class="overlay">
        <strong class="title">Да се освободим <br/> от бюрокрация</strong>

        <p>Чрез технологии и изкуство да направим това да бъдеш гражданин приятно и
            лесно</p>
    </div>
</div>