<header class="masthead clearfix">
    <h1 class="center">Какво е Общество.бг?</h1>

    <div id="explanations">
        <div class="slider">
            <blockquote>„Сбор от хора създаващи инструменти и графики, които информират
                и активизират гражданите“
            </blockquote>
            <blockquote>„Общество.бг дава структура, юридически гръб и ресурси на всеки,
                който има желание да подобри средата около себе си“
            </blockquote>
            <blockquote>„Добър <a href="http://en.wikipedia.org/wiki/User_experience" title="User Expirience">UX</a> за граждани,<br/> а не само за консуматори“
            </blockquote>
            <blockquote>„Идеята, че можем да помогнем за развитието на
                гражданското общество чрез софтуер, дизайн и личен пример“
            </blockquote>
            <blockquote>„Абе, прави ти го хубаво да си гражнин - да участваш в държава и да разбираш каквото ти е
                важно“
            </blockquote>
            <blockquote>„Опора и тласък за идеи. Идеи, които подобряват визуалната комункация
                и скъсяват излишно-дълги процедури“
            </blockquote>
            <blockquote>„По-лесна групова активност, по-възможни и по-въздействащи журналистически разследвания“
            </blockquote>
            <blockquote>„Сбор от хора създаващи интрументи, които улесняват отношенията
                между гражданите и различните институции“
            </blockquote>
        </div>
        <div class="slider-nav clearfix">
            <span class="more bulky nav next">Виж друго обяснение</span>
        </div>
    </div>
</header>