{% extends "layout.html" %}
{% load staticfiles %}
{% block headTag %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/lib/select2/select2.css' %}">
{% endblock %}
{% block footerTag %}
    <script src="{% static 'js/lib/select2/select2.min.js' %}"></script>
    <script src="{% static 'js/lib/select2/select2_locale_bg.js' %}"></script>
{% endblock %}
{% block content %}
    {% include '_header_inner.html' with screen_tmpl="about/_screen.html" headnav_tmpl="about/_headnav.html" toc_tmpl="about/_toc.html" page_title="За нас" %}
    <div class="half-layout">
        <div class="padder">
            <article class="txt">
                <section id="concept" class="main">
                    <div class="bg-reset">
                        <p>Общество е инициатива за дигитално творчество, което да осигури
                            комфорт в това да бъдеш гражданин.</p>

                        <p>Под което да се разбира: създаване на сайтове, app-ове,
                            инфографики, алтернативни концептуални дизайни за държавни
                            сайтове, които да улеснят българските жители, в разбирането на
                            държавата и в това по-добре да комуникират и извършват с
                            лекота иначе бюрократични занимания.</p>

                        <p>А под дигитално творчество да се разбира: софтуер, маркетинг,
                            бизнес анализа, илюстрации, анимация, графичен дизайн ...
                            всичко що може да задвижи един дигитален проект.</p>

                        <h2>Да се
                            освободим от бюрокрацията</h2>

                        <p>Чрез технологии и изкуство да направим това да бъдеш гражданин
                            приятно и лесно. </p>

                        <p>Чрез серия от дигитални приложения ние предлагаме достъп до
                            публична информация и услуги под нова форма, която е
                            систематизирана, и лесна за анализ. Създадена с мисъл да е
                            приятна.</p>

                        <p>Смятаме, че държавата трябва да функционира с грижа и уважение
                            към гражданите. </p>

                        <h2>Да работим над
                            нещо което ни интересува</h2>

                        <p>
                            В Общество.бг дигиталните творци могат да вършат нещо, което
                            ги зарежда. Да се отдадат на страстта си, създавайки ползи и
                            за другите. Искаме все повече хора да могат да се издържат,
                            правейки това, което ги интересува истински.</p>

                        <p>Общество.бг ще е и място за обмен на опит, стажуване и
                            networking сред професионалисти.</p>

                        <h2>Открита
                            разработка</h2>

                        <p>А проектите са ни са напълно открито изпълнение. Всеки проект с
                            <strong>отворен код и дизайн</strong> <em>(Open Source)</em>,
                            което ще рече че е отворен за доработка, и че предлага
                            техническото си изпълнение по прозрачен начин, позволяващ на
                            всеки заинтересован да разбере как работи. Включва подробни
                            технически инструкции как може да се подкара от трети лица.
                        </p>

                        <h2><a class="adjust" name="business"></a>Компании +
                            Общество</h2>

                        <p>За фирмите, намаляването на бюрокрацията пести време и пари.
                            Намаляването на бюрокрацията от своя страна значи работа с
                            олекотени, нормални процедури, справедливи държавни търгове с
                            високи и изисквания и възможност за фокус върху пряката
                            работа, а не върху административните процедури. </p>

                        <h3>Това, което
                            създаваме, е за всички</h3>

                        <p>Инструментите ни са подходящи за широк кръг от потребители. Те
                            са еднакво полезни и достъпни за граждани, фирми, организации
                            и институции.</p>

                        <h3><a class="adjust" name="fellowship"></a>”Мотивационни
                            лагери” </h3>

                        <p>Вярваме, че обмяната на идеи е начина, по който се реализират
                            добрите проекти. Общество.бг е място, където човек може да се
                            учи и да обучава от професионалисти в различни области. За
                            целта предлагаме мотивационни лагери, в които компании ни
                            „заемат” професионалисти, които да работят съвместно с нас по
                            проекти за даден период от време. Всеки, който желае да даде
                            своя принос за реализирането на идеята за една по-добра
                            административна система е добре дошъл. </p>

                        <h2><a class="adjust" name="donors"></a>Донори +
                            Общество </h2>

                        <p>Вярваме, че бъдещето принадлежи на отговорния бизнес. На онези
                            компании, които влагат ресурси и усилия в изграждането на едно
                            по-справедливо и по-функционално общество. Сигурни сме, че в
                            България има много компании, които могат и искат да допринесат
                            за нашата кауза.
                            Харесвате ли някой проект? Виждате ли полза от него? Бихте ли
                            искали той да работи? Ние сме на разположение за да отговорим
                            на всичките ви въпроси. Ще се радваме да работим заедно.</p>

                        <h2><a class="adjust" name="gov"></a>Държавата +
                            Общество </h2>

                        <p>Подобряването на вида на обществените услуги е от ключово
                            значение за изграждането на доверие в държавните органи.
                            Администрацията не бива да бъде враг на българскяит жител.
                            Вярваме, че тя трябва да е негов партньор. Общество.бг е начин
                            това партньорство да бъде постигнато. Чрез своя добър
                            интерфейс и дизайн нашите проекти създават доверие, лоялност и
                            добавена стойност за потребителите. </p>

                        <h2><a class="adjust" name="partners"></a>Организации с опит +
                            Общество </h2>

                        <p>За да действаме по проектите е нужно да се допитваме до
                            експертизата на широк кръг от хора и организации.
                            Темите за всеки проект са различни и не можем сами
                            да добием достатъчно опит по тях.
                        </p>

                        <p>Нуждаем се от партниращи организации, които имат този опит и
                            работят
                            в сфера засягаща даден проект. Да ни съветват където нямаме
                            опит,
                            и да ни помагат където автоматизацията не може.
                        </p>

                        <p>Когато такива организации откликнат, тогава проекта става общ и
                            всеки участващ е равноспоставен. Всеки може да го ползва като
                            портфолио
                            и всеки може да участва в процеса по разработка. Отворени сме
                            за добавки към проектите стига
                            те да не изменят коренно замисъла. </p>

                        <p>Най-често участието на партньорите се изявява в съвети по време
                            на разработката за това кое е възможно и най-полезно, или с
                            експертна
                            поддръжка на проекта след разработката на, която включва
                            преценката
                            дали дадена информация е важна или законосъобразна. </p>

                        <p>Някои от проектите са под формата на платформа, която изисква
                            тематично съдържание, за което търсим занимаващи с подобна
                            дейност
                            организации и им предлагаме да припознаят платформата като
                            своя.</p>
                    </div>
                </section>

                <section id="who" class="main">
                    <div class="bg-reset">
                        <header>
                            <h2 class="heading">Идентичност</h2>

                            <p class="subtitle">Екипът изграждащ нашата идентичност. </p>
                        </header>

                        <ul class="stripped team clearfix">
                            <li class="clearfix"><img width="35px"
                                                      src="http://graph.facebook.com/anton.stoychev.12/picture?width=35&amp;height=35"
                                                      title="Антон Стойчев">
                                <strong class="name">Антон Стойчев</strong>
                                <strong class="position">Софт. разработка, дизайн, идеи,
                                    copywrite, координация</strong></li>
                            <li><img width="35px"
                                     src="http://graph.facebook.com/dgyurov/picture?width=35&amp;height=35"
                                     title="Димитър Гюров"><strong class="name">Димитър
                                Гюров</strong>
                                <strong class="position">Лого, дизайн, идеи</strong></li>
                            <li><img width="35px"
                                     src="http://graph.facebook.com/evelina.jeliazkova/picture?width=35&amp;height=35"
                                     title="Евелина Желязкова"><strong class="name">Евелина
                                Желязкова</strong>
                                <strong class="position">Илюстрации</strong></li>
                            <li><img width="35px"
                                     src="http://graph.facebook.com/ysabeva/picture?width=35&amp;height=35"
                                     title="Яна Събева"><strong class="name">Яна
                                Събева</strong>
                                <strong class="position">Copywrite, PR</strong></li>
                            <li><img width="35px"
                                     src="http://graph.facebook.com/balkantron/picture?width=35&amp;height=35"
                                     title="Дими Деянски"><strong class="name">Дими
                                Деянски</strong>
                                <strong class="position">Лого</strong></li>
                        </ul>
                    </div>
                </section>
            </article>
        </div>
    </div>
{% endblock %}